[2020-05-11 14:26] JoaoWang commented on #165
@AnderBiguri
I'm glad to share this good news with you. I've successfully installed Tigre. Thanks a lot for your patience and help. Now, I can use Tigre. I really believe that Tigre will become a powerful tool for my research!

[2020-05-11 14:28] AnderBiguri commented on #165
@JoaoWang Glad you did! Check out the demos, and if you have any further questions let me know.

[2020-05-11 14:28] #165 closed

[2020-05-17 02:52] JoaoWang opened #166 "Error using Ax_mex"
I've successfully installed TIGRE according to the installation guide, but when I run a demo, such as demo8, sometimes there will be a `Error using Ax_mex` . And if I rerun `complie. m` and `InitTIGRE. `, this error can be solved.
![image](https://user-images.githubusercontent.com/64910341/82134467-dbafc780-982a-11ea-85f9-db0718196dbb.png)
This problem gives me a feeling that the effective time of

[2020-05-17 10:59] AnderBiguri commented on #166
@JoaoWang This is *certainly* not caused by an "effective time". The reason it works when you recompile is because recompiling resets the device, thus gets the GPU out of failure mode. Any other way of resetting the GPU will cause the same effect.

This, of course, does not explain why is this happening to you, which certainly should not be happening. Unfortunately CUDA is not being very helpful a

[2020-05-21 05:59] JoaoWang commented on #166
@AnderBiguri
Thanks for your advice, I will try it.

[2020-06-06 17:39] JoaoWang commented on #166
Hi @AnderBiguri
Thanks a lot for your suggestion, I tried to uninstall CUDA v9.2 and install CUDA v10.2. Now my problem has been solved and the program can run normally.

[2020-06-06 17:40] AnderBiguri commented on #166
@JoaoWang Fantastic! do let me know if you have more problems with TIGRE.

[2020-06-06 17:40] #166 closed

[2020-06-15 15:29] #164 closed

[2020-06-15 15:31] #79 closed

[2020-07-01 01:00] ilanzhang commented on #67
@AnderBiguri That's so nice of you, I'm sure this part will not only useful for me, but also useful for others!

[2020-07-01 01:06] ilanzhang commented on #67
@AnderBiguri there's a small suggestion here: when you add those part some day,  if the regularization part could be designed to be combined freely, for example, I could apply the L1 norm of the gradient, or L2 norm of the gradient, or L0.8 norm of the gradient, and even I can choose the (L1-L2) norm of the garient. there're some new theories for regularization those years, its expansibility will

[2020-07-03 13:16] rogerkuo1981 opened #167 "FDK recon issue"
I am trying to use GPU based FDK to reconstruct the test CBCT data, but got wired result on the couple slices at the beginning and as well as the end. looks like from the first slice, there is a mask at the enter, and the diameter getting larger and larger slice by slice, after couple of slices, the issue just gone. then it come back on the last couple of slices, the 'mask' comes from outside, and

[2020-07-03 13:20] AnderBiguri commented on #167
@rogerkuo1981 before I look this further: try to do the same recon with the angles negated (`angles=-angles`)

[2020-07-03 13:35] rogerkuo1981 commented on #167
Hi Dear AnderBiguri, thanks for you prompt reply!!!! i tried to use negated angles, images flipped around, but the mask still there.

[2020-07-03 13:39] AnderBiguri commented on #167
@rogerkuo1981 I suggested the negative mostly because your image does not look right as you show it. You are looking at that mask, which may just be a standard cone artifact (check the images in the coronal axis, z), but however your images don't look like the right shape. The body looks like a cardioid with a very round shape. The bone structure also does not seem completely in focus, so all hint

[2020-07-03 15:03] rogerkuo1981 commented on #167
@AnderBiguri Yes, you are right, when i look at the coronal images, it looks like the cone artifact. I will go check the geometry again. Thank you very much for your help!
![coronal](https://user-images.githubusercontent.com/30967088/86480828-5bfd9e00-bd81-11ea-9d4b-bd47e86c7d01.JPG)

[2020-07-08 14:15] genusn commented on #142
## Summary
WKrauze 's modification worked fine for 'cone' mode.

## Expected Behavior
Works for both 'cone' and 'parallel' mode.

## Actual Behavior
Works only for 'cone' mode.
The rotation of the detector does not work in the 'parallel' mode.

## Code
[code]

![DetectorRotation](https://user-images.githubusercontent.com/25704789/86926778-706cdc80-c16d-11ea-844f-7b459f52fcba.png)

## Envs
Python v

[2020-07-08 14:24] AnderBiguri opened #168 "Detector rotation not working on python parallel beam"
## Summary
[WKrauze 's modification](https://github.com/CERN/TIGRE/issues/142) worked fine for 'cone' mode.

## Expected Behavior
Works for both 'cone' and 'parallel' mode.

## Actual Behavior
Works only for 'cone' mode.
The rotation of the detector does not work in the 'parallel' mode.

## Code
[code]

![DetectorRotation](https://user-images.githubusercontent.com/25704789/86926778-706cdc80-c16d-1

[2020-07-08 14:24] AnderBiguri commented on #142
@genusn let mo move this to a new issue, as it is indeed a separate problem. Lets continue the discussion there!

New issue: https://github.com/CERN/TIGRE/issues/168

[2020-07-08 14:31] AnderBiguri commented on #168
The issue is that the source code for parallel beam simply does not have detector rotation!
The rationale to not add it there was because I simply have not ever seen a parallel beam real-life machine that could do this and never though why anyone would do it, but  I seem to be mistaken! The fix is not too hard

In the source of the cone beam CT, there is a bit where the geometry is recalculated. I

[2020-07-08 14:34] AnderBiguri commented on #168
@genusn If you have the time and the energy to tackle this, please give it a go. I can not promise I can fix this "soon". My suggestion is that you Fork TIGRE, make a branch with your changes, and then make a pull request once you have fixed them and committed them. That will allow me to review them and automatically add them if correct (that is the magic of git).
Alternatively you can also wait u

[2020-07-08 14:50] AnderBiguri commented on #142
@genusn However, do you say that the changes proposed by @WKrauze did indeed fix the rotation? That is very good news!

[2020-07-09 14:18] genusn commented on #142
@AnderBiguri  Yes, the detector rotation does work on python cone beam with the changes proposed by @WKrauze .  Here, I assumed that axis of rolling is $u\times v$.

[2020-07-09 14:26] AnderBiguri commented on #142
@genusn Ah fantastic. Then this issue can be fixed and closed, thanks for confirmation.

[2020-07-10 14:33] #142 closed

[2020-07-15 11:21] resonance20 opened #170 "Python3 errors when trying to error"
## Expected Behavior
FDK reconstruction should take place

## Actual Behavior
Throws an error:

[code]

## Code to reproduce the problem (If applicable)

[code]

The custom geometry is defined here:

[code]

## Specifications

  - Python version: 3.7
  - OS: Windows 10
  - CUDA version: 10.1

[2020-07-15 11:29] AnderBiguri commented on #170
huh, not pretty. This looks like an error that has not been properly handled. The python 3 port has been recently done and well, perhaps not thoroughly tested, its plausible that the error throwing code is not good for python 3.... No idea really.

How did you install this? using pip as in the docs?
Can you try this with python 2?

A couple of side notes:

I can not test this myself because your c

[2020-07-15 12:01] resonance20 commented on #170
Yeah, I don't expect any great output with FDK. I was just experimenting with different algorithms to see if this error persisted across them. As far as I can tell, I encountered this error in OS-SART, SIRT, SART, and FDK.

Installation was performed from pip and subsequently from the source. There is no difference in the error ouptut in both cases.

I haven't yet tried with Python 2.

[2020-07-15 12:07] AnderBiguri commented on #170
Im not a python expert at all, but this is what I suspect is happening:

Something in your geometry is not right. Perhaps some mismatchign sizes, perhaps some permuted matrix, perhaps some wrong datatype, that the tool should have caught, but it did not. Thus, the source (Atb) errors, but because the errors are were written for python2, there is a bug with unicode or something like that (reading t

[2020-07-17 20:10] resonance20 commented on #170
Well after a lot of pain, I'm not able to install Tigre onto a Python 2 distribution. Installing from pip gives me a $CUDA_HOME error (unusual since I'm running Windows) and installation from source throws up a lot of nasty nvcc errors.

The data is a series of DICOM files in a DICOM-CT-PD format. The angles are in radians, and data is present as a single detector view at each position (defined by

[2020-07-17 22:51] AnderBiguri commented on #170
@resonance20 you don't need to share the dataset, as I have already mentioned, you shoudl be able to replace the input data with simulated data from TIGRE. That, plus replacing the variables by actual values will make a self-contained example that I could test.

[2020-07-21 14:03] resonance20 commented on #170
Okay, after experimenting, I found a bug in my geometry. It seems to be working (albeit slowly) now. I think I will leave this up though, since the bug in the Python bindings is what needs to be addressed here.

[2020-07-21 15:06] AnderBiguri commented on #170
@resonance20 agree! Let's leave this one up.

Unfortunately the python code is much slower than the MATLAB code, as its not properly polished yet.... I hope to find time for that at some point....

[2020-07-22 17:25] resonance20 opened #171 "Helical CT reconstruction does not work in Python"
## Expected Behavior
Tried to implement Demo 13 from the MATLAB Code within Python

## Actual Behavior
A `ValueError` is raised while computing V. The entire error message:

[code]

## Code to reproduce the problem (If applicable)

[code]

## Specifications

  - Python version: 3.7 (Anaconda)
  - OS: Windows 10
  - CUDA version: 10.1

[2020-07-22 17:54] AnderBiguri commented on #171
The problem is that `compute_V` does not handle well arbitrary `offOrigin`, I think.

For helical, the easy fix (and as far as I can think, with correct values) is to change in the following code:

https://github.com/CERN/TIGRE/blob/master/Python/tigre/algorithms/iterative_recon_alg.py#L206-L214

`geo.offOrigin[1]` to `geo.offOrigin[1,0]` and `geo.offOrigin[2]` to `geo.offOrigin[2,0]`

The "hard"

[2020-07-22 22:07] bnel1201 commented on #151
@dyycy  I was having the same issue and added the preweighting you suggested following the [Ge Wang paper](https://aapm.onlinelibrary.wiley.com/doi/epdf/10.1118/1.1489043) mentioned in issue [# 101](https://github.com/CERN/TIGRE/issues/101)

I've copied your code and added the pre-weighting bit to the end.

%% Define Geometry
geo=defaultGeometry('nVoxel',[128;128;128]);

% Offsets
%% %%%%%%%%%%%%%

[2020-07-24 10:17] #101 closed

[2020-07-24 10:17] #151 closed

[2020-07-27 18:58] bnel1201 commented on #132
I was experiencing this same issue as well with my 4-gpu box and I think I can narrow down the problem a bit more. The issue seems to be with the forward projector Ax.m and the corresponding cuda calls to `interpolation_projection` in `ray_interpolated_projection.cu`. I get a memory access error anytime I try to forward-project a number angles of less than my GPU count - 1. I'm not sure where the

[2020-07-27 21:45] AnderBiguri commented on #132
@bnel1201 The problem must be that I am freeing a non-allocated pointer in the forward projector... Runtime errors make the code crash. The logic behind the partitioning is a bit obfuscated, so its even hard for me to sit down and have a look at it. I may have some free time August 2020 so I will try to see if I can spot the mistake. Your debugging example will certainly help, thanks!

[2020-07-28 12:00] AnderBiguri commented on #132
The error must be either here:

https://github.com/CERN/TIGRE/blob/master/MATLAB/Source/ray_interpolated_projection.cu#L459-L462

or here

https://github.com/CERN/TIGRE/blob/master/MATLAB/Source/ray_interpolated_projection.cu#L478-L487

Or both.

There is a logic to handle whenever the number of angles is not divisible by number of GPUs, that basically assigns the last GPU less angles (or zero) to

[2020-07-28 15:59] bnel1201 commented on #132
Those do seem like likely culprits. Thanks for looking into this!

[2020-08-03 15:48] phernst commented on #170
The error is probably related to a wrong implementation of `TigreCudaCallError.__str__`. Have a look at my pull request #174 :)

[2020-08-03 22:08] AnderBiguri commented on #170
@resonance20 I haven't tested #174 but it sounds reasonable, so I will merge it. Give it a go and we can close this issue if its correct!

[2020-08-06 17:01] sixtemesseven commented on #144
Hi
Not the op but I have the same question.

I have a mircrofocus tube and an old radeye1 25x50mm sensor setup and wanted to experiment with a makeshift "cone" ct setup (more or less just a stepper for rotation").

The Sensor produces 512x1024 images and exports in bitmap, tiff, jpeg and some prop. raw format. So I would assume bitmap would make the most sense.

How do I pack this data into the eq

[2020-08-06 20:33] sixtemesseven commented on #144
Ok. After looking into it it seems that tiff can be directly put into np arrays. So probably easier?
I don't have a set of rotaded images, but I have a xray image as a sample attached.
[1.zip](https://github.com/CERN/TIGRE/files/5037842/1.zip)

[2020-08-06 21:30] AnderBiguri commented on #144
Hi @sixtemesseven ,

That is right. Either MATLAB or python both have very developed tools to import images into it to be either matrices or np.arrays. What you shared indeed is just a tiff, but I am certain png raw and any other imaginable image format can be loaded into both of those languages with their existing tools. Once loaded and in a variable, you need to make sure that they are in the ri

[2020-08-07 11:21] AnderBiguri commented on #132
@bnel1201 https://github.com/CERN/TIGRE/pull/175 tries to solve this. I have only changed the interpolated version, but I suspect the ray-voxel projection has the same issue. I only have access to a 1 GPU machine, can you test this?

[2020-08-07 11:30] AnderBiguri commented on #167
@rogerkuo1981  I am closing this issue as resolved, do let me know if you have more problems.

[2020-08-07 11:30] #167 closed

[2020-08-07 11:32] AnderBiguri commented on #160
@roshtha I am closing this issue as it seems to be quiet now. Do let me know if you have any more issues!

[2020-08-07 11:32] #160 closed

[2020-08-07 11:33] #159 closed

[2020-08-07 11:34] #147 closed

[2020-08-07 11:36] #122 closed

[2020-08-07 11:38] AnderBiguri commented on #93
@PranjalSahu I am closing this issue as I have not seen it reproduced and we have no way of reproducing it. Let me know if you have any issue!

[2020-08-07 11:38] #93 closed

[2020-08-07 11:43] #90 closed

[2020-08-07 11:47] #60 closed

[2020-08-07 11:58] sixtemesseven commented on #144
Hi

Thank you for your answer! Could you please specify which example to look at? I found the jupiter files and some code bits in the demo folder.

But your examples all seem to load from head.mat which seems to be a 256x256x256 array. If I understand correctly, those are voxels (so, the result of the processed projection each voxel represents a density of this 3d "pixel" aka voxel.

Do you have a

[2020-08-07 12:07] AnderBiguri commented on #144
@sixtemesseven a quick google search shows how to load a stack of tiffs into python: https://stackoverflow.com/questions/37722139/load-a-tiff-stack-in-a-numpy-array-with-python

I insist: this is not a "TIGRE" thing, X-ray projections are just images, as a selfie or a photo of my grandma :) They just have a different pixel value.

If you are finding bugs in TIGRE, please open a new issue with a co

[2020-08-07 13:37] sixtemesseven commented on #144
Hi
Sorry if I did not describe it correctly. I have no problem loading images into arrays. I can print it and I can plot it with plt.imshow(), I can cast it to np.float32. I can stack multiple images together in a nx512x1024 numpy array. So far so good.

However, how do I actually use the stacked array? In your example.py you load the data from the head.mat. But this is already in voxels, not 256

[2020-08-07 16:50] bnel1201 commented on #132
Yes, I'll have access to the multi-gpu machine this weekend. I'll let you know how things go!

[2020-08-08 13:31] AnderBiguri commented on #144
Ah apologies I misunderstood

Right, this is correct. As a demo in TIGRE, we provide a volume, the "real" object to scan. The demo itself then shows how from that volume, a set of projections is generated with the function `Ax`. Of course, in reality you dont have the object, because that is what you want to achieve with reconstruction! If you want to compare your real data to TIGREs, for format i

[2020-08-09 23:05] bnel1201 commented on #132
Progress! Yep Ax_mex with 'interpolated' ptype now works for my 4 gpu box! You are also correct that ray-voxel projection has the same issue.

To summarize for my 4 gpu box:

Single interpolated projection now works:
[code]

However a single ray-voxel projection has a memory access violation like before
[code]

Thus if you can make a similar fix to `siddon_ray_projection` in `Siddon_projection.cu`

[2020-08-10 07:46] AnderBiguri commented on #132
Ah fantastic news! I hope I haven't added new bogs for another set of GPUs, but it doesn't seem so. I'll fix this ASAP!

[2020-08-11 05:27] roshtha opened #176 "DBT SART reconstruction on cropped region in projections"
Hello,

I use TIGRE SART for DBT image reconstruction.
To reduce reconstruction time I have cropped region of interest on input projection data before giving to SART algorithm. But the final image output  lost background information outside cropped regions since the width of cropped projection is less than the image to be reconstructed.
Is it a good approach to do reconstruction on a cropped regio

[2020-08-11 08:55] AnderBiguri commented on #176
@roshtha ah, yes and no! Cropping is OK, but you have not done cropping.

For the FDK algorithm, cropping and zeroing is the same, because the first thing the algorithm does is a high pass filter. But in any other algorithms, zero is as valid for a pixel value as any other pixel! If you zero a part of thr image you are not telling the algorithm to ignore it, you are telling it that there were no x

[2020-08-11 11:47] #9 closed

[2020-08-11 11:47] #33 closed

[2020-08-11 11:54] AnderBiguri commented on #132
@bnel1201 done (in the branch)!

Can you also try something like `geo=defaultGeometry('nVoxel',[2000;2000;2000]);`   if your RAM allows?

[2020-08-11 23:05] bnel1201 commented on #132
Everything works! Great job! I ran demo `d07_Algorithms02` from start to finish both with

1.  `geo=defaultGeometry('nVoxel',[128;128;128]); `
and
2. `geo=defaultGeometry('nVoxel',[1000;1000;1000); `

and both ran start to end on my 4 gpu box with no problems!

I couldn't generate `head=headPhantom([2000; 2000; 2000])`; because matlab's `interp3` ran out of memory but
nVoxels = 1250^3 seemed to be

[2020-08-11 23:14] AnderBiguri commented on #132
Ah,great news! just to make sure instead of running 2000^3 with head, can you run it by generating a white image with `ones`? That would skip the interp memory issue and properly test the upper bound. I just want to be sure the image is split into multiple pieces per gpu

[2020-08-14 05:01] genusn commented on #152
Hello,
I am interested in this issue and walking around the code.
I have a question. Are these two lines necessary ?
https://github.com/CERN/TIGRE/blob/45856141b2ddd918bcd5825fe3d0cc5aa104c01c/Python/tigre/Source/_Ax.pyx#L65

https://github.com/CERN/TIGRE/blob/45856141b2ddd918bcd5825fe3d0cc5aa104c01c/Python/tigre/Source/_Ax.pyx#L78

When I comment-out them, re-compile the _Ax.pyd file, and run the

[2020-08-14 14:10] AnderBiguri commented on #152
@genusn  huh that is interesting.... Those copy and transposes are supposed to be there so the output of `Ax` and `Atb` are not transposed to the input. Can you test if these particular functions (not the algorithms) do the correct thing without the transpose/copy operators? I think they should not, but I am confused now.

[2020-08-14 22:35] genusn commented on #152
@AnderBiguri,
Firstly, I checked my understandings of ndarray of numpy with the following code:
[code]
The result was
[code]

Secondly, in order to check that my workspace is working fine,
I have seen if changing L65 to
`
img = img.transpose().copy(order='C')
`
makes the result image become corrupted.
The result was corrupted. i.e. it's true that my fix affects the results.

Thridly, I added sever

[2020-08-16 11:15] AnderBiguri commented on #152
@genusn to be fair, all that you are saying makes sense. Let me do a couple of test from my side to verify it, but it seems that the line is a mistake that was left when debugging/designing the functions. Its a good catch!

I suggest the following: make a branch and a pull request. That way, I can see and help with the modifications of the code, and review and test the changes in the code easily!

[2020-08-16 11:23] #170 closed

[2020-08-16 11:26] AnderBiguri commented on #131
It's unlikely that I will tackle this myself, leaving it open just to see if anyone would want to do so....

[2020-08-17 17:08] bnel1201 commented on #132
I'm sorry I couldn't get back to you on this sooner! Our multi-GPU machine was tied up last week. I ran your test and get the following when using 2000^3 array of single-type ones
[code]
The machine uses 4 Quadro M6000 of 12 gb each.

I don't know how many memory allocations are made in the cuda code so I can't say whether this 'out of memory' call is expected given the amount of resources availab

[2020-08-17 17:10] AnderBiguri commented on #132
@bnel1201 humm, I'll try to investigate that more, its not an expected error.... Unless someone else was using part of the gpu

[2020-08-17 17:16] bnel1201 commented on #132
It is a shared machine with users remoting in, however according to Task Manager I'm the only one using resources at the moment.

[2020-08-18 08:48] AnderBiguri commented on #132
@bnel1201 I have pushed a couple of extra error checks to the main code. Could you try again? 2000^3 should definitely work on your 4 GPU system

[2020-08-26 21:20] bnel1201 commented on #132
Hi again! Sorry for the delay, I'm working on getting access to another multi-gpu machine so I can test things out more frequently.

Another strange issue I ran into with the same 4 gpu machine described above was when I tried forward projecting with the following angles:
`angles=linspace(0,2*pi, N*180 + 1);`
or
`angles=linspace(0,2*pi, N*180 + 2);`
For `N = 1, 2, 3, 4...`
(`N = 0` works and so do

[2020-08-26 21:24] AnderBiguri commented on #132
@bnel1201 hmm I may have broken more things than what I fixed then! I should not have prematurely closed this.

I need to figure out of I can get access to a machine with multiple gpus myself, otherwise I can't be pushing stuff withouth debugging. Thanks for letting me know, I'll see if I can fix it ASAP!

[2020-08-26 21:30] bnel1201 commented on #132
Sounds good! Sorry I should have tested this myself sooner, but I was excited when I was able to run the SART demos to the end. I only bumped into this when trying out my own data which often contains 361, 721, or 1441 projections.

I also tried the 2000^3 experiment (shown below) and still get the
[code]
error.

[code]

Best of luck! Let me know if there's anything else you want me to try until y

[2020-09-09 06:54] roshtha opened #180 "SART reconstruction fails with multiple GPU Devices"
Hello,

I run SART by executing `d19_DBTExample.m` in a machine with two GPU devices. The configuration of these devices are mentioned below:

[code]

[code]

The SART reconstruction fails with the error
[code]

## Specifications

  - MATLAB version: Matlab R2020a
  - OS: Windows Server 2016
  - CUDA version: 11.0

Thanks.

[2020-09-09 07:36] AnderBiguri commented on #180
This is the same issue as #132. Working on it!

[2020-09-09 08:51] AnderBiguri commented on #180
@roshtha separatedly, using 2 GPUs in your case may result in a slower execution.

TIGRE does not know which GPUs you are using, it just assumes both are the same. This is because writing code that knows how to properly balance between different GPUs for particular problems is almost impossible, as they all behave very differently in many different ways.

 So, running TIGRE with a Tesla P100 and a

[2020-09-10 09:49] roshtha commented on #180
@AnderBiguri, Thanks.

[2020-09-10 09:49] #180 closed

[2020-09-15 16:00] Elvira-Zainulina opened #181 "Difference in values before projection and after reconstruction"
Hello,

I wanted to apply TIGRE (python) for the reconstruction of CT projections but the values in the reconstructed scans differed from the expected values significantly. So, I decided to conduct the experiment. The code of the experiment is below.

[code]
Then I have plotted the ```mins``` and ```maxs``` and obtained the following plot, where the orange line is ```maxs``` and the blue line is `

[2020-09-15 16:04] AnderBiguri commented on #181
Can you share your geometry too? You say it's spiral, but FDK is not a valid algorithm for helical CT

[2020-09-15 16:12] Elvira-Zainulina commented on #181
Here is my geometry.

[code]
I have taken values for geometry from real CT projection geometry. ```offOriginZ``` is array of the offset along Z axis.

[2020-09-15 16:15] AnderBiguri commented on #181
@Elvira-Zainulina  can you see the effect you describe if you remove the origin offset in the experiment above?

I think this is because FDK is not a valid algorithm for Z offsets in the image, thus you may be seeing an unwanted effect there. Can you test that please?

[2020-09-16 07:25] Elvira-Zainulina commented on #181
I have removed the origin offset but the difference is still rather big. Here is the result, where the orange line is ```-maxs``` and the blue line is ```mins```.

[![diff0.png](https://i.postimg.cc/BvkM4QZ5/diff0.png)](https://postimg.cc/f37xvs9k)

Actually, I have made a typo in the first comment. The orange line on the plot is also ```-maxs```, not ```maxs```.

[2020-09-16 07:26] AnderBiguri commented on #181
Oh well, I was wrong then!

Let me investigate...

[2020-09-16 13:46] AnderBiguri commented on #181
@Elvira-Zainulina can you do another test for me? I have the feeling that you may be comparing noise. FDK does bring artifacts, and it makes sense that the value of those artifacts change with the value of the pixel values that create them. Bigger image value, bigger absolute error, of course.

So, can you compute the relative error instead?
And can you confirm that voxel values are properly recon

[2020-09-16 18:35] Elvira-Zainulina commented on #181
Yes, you are right. The max values corresponded to the noise. Well, I have calculated relative error for max values. (In my setting it approximately equals to ```0.3309```.) Also, I decided to calculate MAE and MSE between the regions of images containing the square: ```RMSE / i ≈ 0.35```, ```MAE / i ≈ 0.15``` for all considered ```i```.

Then I have checked the values of the reconstructed central

[2020-09-17 08:51] AnderBiguri commented on #181
@Elvira-Zainulina Ah, welcome to the complicated world of CT reconstruction then! A big question you ask!

Few comments on that: FDK is not the best algorithm.... FDK is a good algorithm if you have infinite noiseless projections. Of course, this is never true. It particularly fails on very sharp edges as the one you show there, and it shows artifacts very early with quite decent data. Of course,

[2020-09-23 10:01] AnderBiguri commented on #181
Hi @Elvira-Zainulina !

Do you have more questions? Otherwise I will close the issue.
But feel free to send me an email or open new issues in the future.

[2020-09-27 18:23] Elvira-Zainulina commented on #181
No, I don't have any questions now. Thank you for your help!

[2020-09-27 18:24] AnderBiguri commented on #181
@Elvira-Zainulina no worries! Feel free to ask questions anytime!

[2020-09-27 18:24] #181 closed

[2020-10-05 11:22] roshtha commented on #176
Thanks @AnderBiguri.

[2020-10-05 11:25] #176 closed

[2020-10-09 10:33] huangs-i2r opened #182 "Cuda error?"
Hi, I encountered an error after installed Tigre. Can anyone help? Thanks in advance.

## Expected Behavior
After installation, pass the python example.py test

## Actual Behavior
Failed with following error message:

CUDA:Siddon_projection:3D texture memory bind fail:invalid texture reference
Traceback (most recent call last):
  File "example.py", line 23, in <module>
    proj = tigre.Ax(head,geo

[2020-10-09 11:07] AnderBiguri commented on #182
Hi @huangs-i2r

I suggest to donwload the latest commit, if you have not done that.
Can I know what GPU are you using?

[2020-10-12 19:30] ptavares96 opened #183 "Error in inport tigre"
When I try run the example,py it shows me error:
"Traceback (most recent call last):
  File "C:/Users/paulo/Python Projects/ti/example.py", line 3, in <module>
    import tigre
  File "C:\Users\paulo\Python Projects\ti\tigre\__init__.py", line 4, in <module>
    from .utilities.Ax import Ax
  File "C:\Users\paulo\Python Projects\ti\tigre\utilities\Ax.py", line 1, in <module>
    from _Ax import _A

[2020-10-12 23:16] AnderBiguri commented on #183
@ptavares96 have you set up TIGRE correctly following the instructions?
Can you try running a demo?

[2020-10-13 13:41] ptavares96 commented on #183
I did. I'm using Windows. I saw that could have problem with this. I will try run demo and change my OS.

[2020-10-13 13:59] AnderBiguri commented on #183
@ptavares96 someone updated TIGRE for for windows, but I haven't tested it thoroughly, and don't really know how to fix it....

[2020-10-18 14:04] huangs-i2r commented on #182
I installed the latest code download from Github, got the same message. However, I created a brand new conda environment with python 3.7, and CUDA 10.1, then it works fine with the examply.py.
:)

[2020-10-19 08:56] #182 closed

[2020-10-21 10:06] sunchang2017 opened #185 "can not compile"
Hi, I met mistakes when running Compile.m, here is the screen output:

[code]

I have try  getenv('CUDA_PATH'), and its output is correct, and I add setenv('VS140COMNTOOLSP','C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\Tools'), however I still cant compile successfully.

Could you help me analyze the mistake? (Please excuse my poor English)

## Specifications

  - MATLAB

[2020-10-21 10:09] AnderBiguri commented on #185
You may not have the c++ compiler installed. Have a look at the instructions in the installation guide. Sometimes Visual Studio does not install C++ compiler by default.

Also, you do not need to set the environment variable normally, so maybe you overwrote the correct one, not sure. Check the c++ compiler install instructions first.

[2020-10-22 02:20] sunchang2017 commented on #185
I can compile a test file  'hello.cpp' below
---------------------------------------------------------
#include "mex.h"

void mexFunction(int nlhs, mxArray *plhs[],
				int nrhs, const mxArray *prhs[])
{
	mexPrintf("Hello, world!\n");
	return;
}
---------------------------------------------------------------

Hello, world!

Does that mean I installed the compiler successfully? (I only installed Mi

[2020-10-22 02:22] sunchang2017 commented on #185
I can compile a test file 'hello.cpp' below

#include "mex.h"
void mexFunction(int nlhs, mxArray *plhs[],
int nrhs, const mxArray *prhs[])
{
mexPrintf("Hello, world!\n");
return;
}

Hello, world!

Does that mean I installed the compiler successfully? (I only installed Microsoft Visual C++ 2017)

[2020-10-22 09:01] AnderBiguri commented on #185
@sunchang2017 It could be, but the easier way to discovering it is to follow the instructions in the installation guide.

If C++ works, then the problem must be a ad CUDA installation.

[2020-10-26 16:36] civerjia commented on #185
I got the same issue, and my solution is to replace mex with mexcuda in compile.m

[2020-10-26 16:43] AnderBiguri commented on #185
@civerjia well, yes, that is a possible solution of one of the possible causes of this problem. In your case, you did not have the CUDA paths set up well, thus using MATLAB's CUDA (if you have parallel computing toolbox) worked. MATLAB's CUDA version can be directly used by using `mexcuda` as you explain.

But @sunchang2017 maybe does not have perellel comuting toolbox, or maybe doesnt have C++ co

[2020-10-26 16:50] civerjia commented on #185
@AnderBiguri  How to make CUDA paths set up well? I can get the correct result by using getenv('CUDA_PATH'), like 'C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1'. btw I'm using Visual Studio 2017

[2020-10-26 16:57] AnderBiguri commented on #185
@civerjia I am going to admit that I don't really know... Each combinations of CUDA and VS has its own issues, and I have no idea why yours does not work with normal `mex`.

Every time I tried it in my own windows machines, the instructions at https://github.com/CERN/TIGRE/blob/master/Frontispiece/MATLAB_installation.md#step-by-step-instructions worked well, but there is people who can't get it wo

[2020-10-26 17:05] civerjia commented on #185
Ok thanks, the machine always has some unknown issues even everything looks good.

[2020-10-27 03:07] sunchang2017 commented on #185
I have compiled successfully!  I first installed MATLAB parallel computing toolbox, then I changed mex to mexcuda in Compiled.m.
So happy!!!!!
Thank you all~

[2020-10-27 09:05] AnderBiguri commented on #185
@sunchang2017 glad you did! Feel free to ask any other question you may have in the future. I'll close the issue now.

[2020-10-27 09:05] #185 closed

[2020-10-29 10:26] genusn commented on #132
I tried to reproduce this error on my heterogeneous GPUs (2x2080 + 1070).
In ray_interpolated_projection.cu, comment out the GPU name check lines and added
[code]
at the end of the function checkFreeMemory().
Running the MATLAB script
[code]
MATLAB always crashes at k=28 with
[code]
Here, I have confirmed that splits = 1 if sizeVol = 256 and splits = 2 if sizeVol = 512.
Unlike the case of #186,  t

[2020-10-29 10:33] AnderBiguri commented on #132
@genusn thanks, this helps a lot!
Since this issue, I did attempt to fix it, but I do not have access to a dual gpu machinr, so it's hard for me to figure out what may be wrong. Any test helps to try to pinpoint the issue.

I am quite sure that the issue is related to a bad memfree somewhere at certain conditions, but I can't seem to figure it out where...

[2020-10-30 09:02] genusn commented on #132
I ported the MATLAB ray_interpolated_projection.cu to Python to accerelate this investigation. (Matlab IDE crashes when mex crashes, but Visual studio code with Python does not crash when TIGRE crashes.)
I also wrote Python version of the script above:
[code]

After checking that the python version crashes at the same condition as the MATLAB version (I could not check that it is definetely due to

[2020-10-30 10:22] AnderBiguri commented on #132
@genusn ah this is fantastic news! And I am not sure we need to worry for `deviceCount > PROJ_PER_BLOCK`, I am not sure its even possible with nowadays computers!

Are you going to make a PR for this, or should i?

[2020-10-30 13:28] genusn commented on #132
Thank you for your comments. Let me make a PR. I want to think a little bit more about the arguments of min function.

[2020-11-01 12:18] #132 closed

[2020-11-03 23:59] genusn opened #190 "FISTA on Multi-GPU"
## Expected Behavior
FISTA generates the same image regardless the number of GPU

## Actual Behavior
The bottom image of the FOV reconstructed by 1-GPU machine was different from that by 2-GPU.
The image of the 2-GPUs looks wrong.

Left column: FDK
Right column: FISTA

Upper row: bottom plane
Lower row: central plane

2-GPU
![FISTA_2gpu](https://user-images.githubusercontent.com/25704789/98053000-

[2020-11-04 01:15] AnderBiguri commented on #190
Thanks! I suspect it may be something to do with `tvdenoising.cu`, will check further.

[2020-11-04 06:34] genusn opened #191 "Python geometry order of axes"
This issue is related to #157, #189

I would like to confirm the order of x, y, z for geometry. In othrer words, I would like to know which is expected,  for example, nVoxel=np.array([nVoxelZ, nVoxelY, nVoxelX]) or nVoxel=np.array([nVoxelX, nVoxelY, nVoxelZ])?

[code]
results

![InosotropicVolumeHead_Python](https://user-images.githubusercontent.com/25704789/98075481-cfd6c100-1eaf-11eb-8cca-0d7dcb

[2020-11-04 10:02] AnderBiguri commented on #191
Yes I think so.

To be honest, this is something that was put together without too much though and never properly finished, so how we want the python version to be is something that we can discuss now, ignoring what TIGRE currently has.

My guts tell me that the arrays need to be ZYX (or ZXY?, the other one seems better), but that when we declare it in the geometry, we need to do X,Y,Z, because it

[2020-11-04 14:41] genusn commented on #191
I agree with you.
To make the things easier (for user and developer), I think that x should be the fastest and z be the slowest variable on the linear memory space.
If we accept it, we need also to accept img[z,y,x] for accessing the point at (x,y,z).

Half agree, half disagree... very difficult decision,
however, if we accept img[z,y,x], I think zyx would be better because all users have to remem

[2020-11-04 14:51] AnderBiguri commented on #191
however, if we accept img[z,y,x], I think zyx would be better because all users have to remember becomes just that the order of components in python is z, y, x.

But if we decide to go zyx for the geo arrays, then we should **very strongly** document this, as while it fits with the array shape, it does not fit with our human brains!
An alternative can also be to have named variables, such as `nVox

[2020-11-06 15:42] AnderBiguri opened #194 "PEP-8 standards"
When the python code is somoehow final (not yet), we should have a look at enforce python style standards.

[2020-11-09 13:30] genusn commented on #191
Importance of documentation. 100% agree.
Introducing getter/setters is a good idea especially for roll-pitch-yaw!

I found pages about multi-dimensional images in numpy.
I think they are encouraging us to choose zyx.
1. https://numpy.org/doc/stable/reference/internals.html#multidimensional-array-indexing-order-issues
2. https://scikit-image.org/docs/dev/user_guide/numpy_images.html#coordinate-conv

[2020-11-09 13:45] AnderBiguri commented on #191
Ah, reading the second link, I see all the confusions that I am having.

It says that the convention is:

[code]

and python being a  language with row-major ordering, this means that if unrolled to 1D, its the second axis that will appear first, then the third axis, finally the first axis.

MATLAB (and the CUDA code in TIGRE) is designed so that the 3D grayscale image is `(col, row, pln)`, becaus

[2020-11-09 14:20] genusn commented on #191
I think that python expects that pln is the slowest and col is the fastest, and row (the second axis) is the second fastest/slowest.

As long as I have tested the current TIGRE, the comparison of MATLAB and Python is as follows:
#### 3D image

As for the point of (X,Y,Z)

|               | MATLAB  | Python |
|---------------|---------------|--------|
| Voxel value   | mat(iX,iY,iZ) | mat[iZ,iY,iX]

[2020-11-09 14:55] AnderBiguri commented on #191
I need to do more tests.... but I am still unconvinced, MATLAB and python do, in fact, store memory in a different order, so if the CUDA code works, there **must** be somewhere we are changing the convention. I can't see where, if what you say is correct (which you prove correct)

This can be tested simply with:

[code]

As when we get to CUDA, all the memory layout is what we get, without a copy,

[2020-11-09 15:23] AnderBiguri commented on #191
OK, sorry, I understood it!

MATLAB indexing goes `<row,col,plt>`, and python goes `<plt,row,col>`. The swap of memory layout happening because row/column major gets compensated because in MATLAB we call "X" the first axis, i.e. the one corresponding to the row of the matrix while on python, its instead the col. That swap offsets the one in the memory layout.

Sorry, my brain needed to process thi

[2020-11-10 01:48] genusn commented on #191
I am sorry. You are right. Corrected the table above.

[2020-11-10 09:16] AnderBiguri commented on #191
@genusn no worries, its a reasonable mistake, it should be as you wrote logically, bur for some reason I decided to not do that back then. I think thats a mistake from my side, but likely too big of a task to change now.

[2020-11-11 15:30] AnderBiguri commented on #190
This has been validated by a second user, that showed that on 2-GPU machines this can lead to CUDA errors and thus TIGRE errors. There is likely some memory access error somewhere in `tvdenoising.cu`.

[2020-11-13 17:59] roshtha opened #195 "Help needed in improving reconstruction speed"
## Expected Behavior
TIGRE suggestion to  improve reconstruction speed - avoid check for available GPU memory and to assign a value for available memory

## Actual Behavior
The reconstruction time not improved considerably

## Code to reproduce the problem (If applicable)

I run `OS_SART` algorithm in `TIGRE` toolkit for DBT reconstruction. I wanted to speed up the reconstruction time.
I follow [T

[2020-11-13 22:37] AnderBiguri commented on #195
Ah, unfortunately, there is really not much more you can do software-wise (otherwise I would have coded it in!). TIGRE's GPU code is basically as fast as code gets (maybe ASTRA toolbox can be a bit faster for smaller image sizes, but for anything above 512^3 TIGRE is measurably faster).

There are 2 ways of making the code theoretically faster.

1 - Recode the entire algorithm fully in CUDA. This

[2020-11-13 22:41] AnderBiguri commented on #195
Maybe you can try a faster converging algorithm. In theory, CGLS should get to a solution in less iterations than OS-SART, in practice, its not always a good solution.

[2020-11-14 14:52] genusn commented on #190
@AnderBiguri https://github.com/CERN/TIGRE/blob/aab042202159181ca666bb0b7a8fba5592478b51/MATLAB/Source/tvdenoising.cu#L498-L505

Is it possible that these offsets of the destination of cudaMemcpyAsync, ```+slices_per_split+buffer_pixels```  are related to this issue?

[2020-11-14 16:06] AnderBiguri commented on #190
So, what is happening here is that each of the slices has a buffer of overlapping image slices. So each GPU has its corresponding part of the image, plus few slices on top and on the bottom. What we see in the lines you listed is the piece of code that takes care syncronizing those buffers, to be able to continue iterating with the correct values.

So, for each of the device variables, we just nee

[2020-11-15 05:12] genusn commented on #190
@AnderBiguri Thank you for your suggestion. It seems to be working fine. I'll make a PR.

[2020-11-15 10:50] AnderBiguri commented on #190
This is now fixed for MATLAB, I suspect not for python

[2020-11-15 12:07] genusn commented on #190
I agree. tvdenoising.cu in master/MATLAB is copied into the branch for PR #189 because the MATLAB version is multi-GPU ready and I thought the Python version was not, but I now found now that the MATLAB and Python version in the master branch are "almost" the same.
Should I have firstly made another PR?

[2020-11-15 13:07] AnderBiguri commented on #190
No, here it's OK, no worries! Thanks for the change! Yes, I think the TV parts are multi GPU as they are axis independent. They just work on 3D volumes, not important their direction.

[2020-11-16 12:29] roshtha commented on #195
Thanks @AnderBiguri for the information.

[2020-11-17 10:43] #152 closed

[2020-11-17 22:35] AnderBiguri commented on #190
@genusn the other user that complained about this says that this still fails in MATLAB.

sorry to ask this, as I dont have a 2 GPU machine, I can not test. Can you try to run SART-TV on MATLAB with 2 GPUs?

[2020-11-17 23:06] AnderBiguri commented on #190
False alarm the error may be something else.

[2020-11-17 23:06] #190 closed

[2020-11-17 23:09] AnderBiguri opened #197 "MATLAB TIGRE failing in Quadro P5000"
Unfortunately this is second hand-information, so I can't really know exactly whats wrong, but someone with Quadro P5000 complains of "unspecified launch failure" errors, particularly on 2-GPU machines in MATLAB

this is interesting, as the error seems to be related to segfaults in the GPU code, but no one else seems to have (as far as I know) the same issue, so not sure what it may be. Sometimes

[2020-11-18 12:58] genusn commented on #190
@AnderBiguri

False alarm, OK.
I revised the test program of #196 to use SART_TV and ran it just for confirmation and it was OK, but my machine has 2xRTX2080Ti, not P5000, and the image size was not so big (splits=1).

[2020-11-23 10:37] genusn opened #198 "Ax (ray-voxel) produces defect lines with specific parameters"
## Expected Behavior
![interpolated](https://user-images.githubusercontent.com/25704789/99951744-eb9ff980-2dc1-11eb-8052-1c2a926c078e.gif)

## Actual Behavior
If the components of dDetector are integers and at least one of nDetectorU and nDetectorV is (are) odd number(s), the result of Ax of "ray-voxel" has defect line(s).

![rayvoxel](https://user-images.githubusercontent.com/25704789/99951760-f2

[2020-11-23 12:04] AnderBiguri commented on #198
Ah yes.... This is caused by finite precision on forward projectors.

I think the only solution to this is to catch the conditions on the cuda side (odd detector, even image, zero vOffset, zero zOffset) and then simply add epsilon (0.000001) to any of the offsets. This would avoid the numerical error of the rays intersecting with the boundary of 2 layers of voxel.

I'll give it a go as soon as I h

[2020-11-24 11:23] AnderBiguri commented on #198
@genusn made a PR, works on my side, but would be nice if you can test it on your side too, just to double check. Let me know if that is possible, otherwise I'll just merge.

[2020-11-24 14:23] #198 closed

[2020-11-25 16:54] #143 closed

[2020-11-25 16:54] AnderBiguri commented on #143
Tested and working.

[2020-11-25 17:00] AnderBiguri opened #200 "Replace python compute_v with computational solution instead of analytic one."
Currently `compute_v` analytically computes the V matrix, but it would be more accurate to computationally do it (i.e. backproject an image of 1).

[2020-11-26 01:27] genusn commented on #171
@AnderBiguri The commit db8dfd2 seems to be incompatible with ```example.py```. It stopped with the following error massage:
[code]

[2020-11-26 01:34] AnderBiguri commented on #171
Ah, my bad. I did not test enough. I think if eaxh algorithm would check_geometry to start with then it would be solved, though this was happening. I'll investigate more how to avoid this

[2020-11-26 16:59] #171 closed

[2020-11-26 16:59] AnderBiguri commented on #171
@genusn fixed properly this time.

[2020-11-26 20:42] AnderBiguri opened #201 "python data loaders"
Currently there is a Varian CBCT data loader in a PR (soon to be merged) and I am working on adding a Nikon CT data loader.

However that is only for MATLAB. Adding CT data loaders to python is of interest.

[2020-11-26 23:14] genusn commented on #171
@AnderBiguri Thank you. I confirmed that ```example.py``` is executable without error.

[2020-11-28 17:17] roshtha opened #202 "Reconstruction of C-arm CBCT projections"
Hello,

I wanted to apply TIGRE for the reconstruction of C-arm CBCT projections. Is there a demonstration script available to start with C-arm CBCT reconstruction? Or can I use d19_DBTexample.m (without updating geo with a call to staticDetectorGeo) for this reconstruction?

Thanks.

[2020-11-28 17:52] AnderBiguri commented on #202
Hi @roshtha ,

Indeed I think I need to add a proper working example for C-arm CBCT.
What you really need is the stuff in d018: setting up arbitrary axis of rotation.
The way you can crate arbitrary paths is by rotating the detector using 3 angles, euler ZYZ angles in particular, around the origin (generally, the center of the image). This allows you to basically, for each projection, set the dete

[2020-11-30 18:44] AnderBiguri opened #203 "Different GPU warning clogs command line"
Relevant code:

https://github.com/CERN/TIGRE/blob/master/MATLAB/Source/Siddon_projection.cu#L282-L284

@genusn what do you think? Some user complained that this is clogging the command line. I have no idea what to do about it. On one side, its important to have this message. Before it was an error, and I understand that it probably should be a warning. But on the other hand, we can't neither full

[2020-11-30 23:22] genusn commented on #203
I think the message at runtime is absolutely necessary. It will reduce queries for this category, but I also think that it is not rare to have different GPUs: I have two 2080Ti for GPGPU, and 1070 for video interface. I thought I would maximize the GPGPU power.

Here are some solutions that popped in my mind:
1. Switch whether show message or not at compile-time. As for pytigre, it is possible by

[2020-11-30 23:27] AnderBiguri commented on #203
I think of those I like 2. better, its the most flexible. I'll have a look to see what is needed for the MATLAB part.

[2020-12-01 13:32] genusn commented on #191
@AnderBiguri ... so in MATLAB, despite the pixel value is ```mat(iV,iU,iT)```, nDetector has to be declared in the U-V (not V-U) order.
One can check this by running the following code:
[code]

Because of this, MLEM stops for non-square detectors. Modifying the shape of the weight matrix in  https://github.com/CERN/TIGRE/blob/d707f0c866b8a02c7038d397408e5d4213b9e8cd/MATLAB/Algorithms/MLEM.m#L26
to

[2020-12-01 13:36] AnderBiguri commented on #191
@genusn  ah that is correct. I'll try to modify that. Admittedly, MLEM is a bit out of place and never cared too much about it.... CT data can not really be modeled very well as a Poisson distribution, and even in applications where the data can be (such as Positron Emission Tomography) MLEM is an obsolete algorithm because it needs hundreds of iterations to converge to the ML solution... So I alw

[2020-12-03 10:12] AnderBiguri opened #207 "Python fails at 2D tomography"
The following code will return projection data that are all zeros.

[code]

Debugging test made:

- Changing `geo.nVoxel` to `geo.nVoxel = np.array([4, 256, 256])` will make the projections be non-zero.

- I was worried that offsets may be wrong, but changing `geo.nDetector = np.array([10,1])` shows that the image is well aligned to the center of the detector.

[2020-12-03 10:28] AnderBiguri opened #208 "2D geometry needs 0.5 vDetectorOffset??"
Investigate this.

[2020-12-03 12:19] genusn commented on #207
@AnderBiguri , Something is happening in siddon.
[code]
showed
[code]

[2020-12-03 12:22] AnderBiguri opened #209 "Change python's projector type variable name"
Krylov makes no sense and it comes from a copy paste. Should be `proj_type` or something similar.

`tigre.Ax(head,geo,angles, krylov="interpolated")`

[2020-12-03 12:39] AnderBiguri commented on #207
@genusn  hmmm I am not sure if the comment is related. In that comment, I found out that the problem with the base was that it did not take into account half a pixel in locating the detector in space, thus when projecting a cube, a symmetry was missing. But your PR instead had that symmetry good (i.e. half top flipped was the same as half-bottom of detector) so if anything, the PR should have avoi

[2020-12-03 12:47] genusn commented on #207
I see.

How about ```proj = tigre.Ax(head,geo,angles, krylov="interpolated")```? The result was non zero.

[2020-12-03 12:51] AnderBiguri commented on #207
I don't have much time to test now, but its a big iffy to this issue with interpolated. Interpolated will also interpolate outside the image (up to 0.5 pixels outside the boundary of the border pixel), so if the problem is a minor offset in `compute_deltas`, its harder to see with interpolated. That said, it could also just bee that interpolated is correct.

[2020-12-03 12:58] genusn commented on #207
Thank you for your comment.

Back to "ray-voxel", modifying
[code]
and printout the range of value of the projections
[code]
the result was
[code]
the values on v=1 are all zero.

[2020-12-03 13:18] genusn commented on #207
Sorry, my comment above seems to be a different issue.
In that condition, the result of
[code]
is
[code]
, which means ```head``` is zero in the plane of ```z=1``` and the result shown in my last comment is  the expected one.

[2020-12-03 23:17] AnderBiguri opened #210 "Add wrap algorithms to stop code repetition"
There are several codes, such as OS-SART, SIRT, SART,   or  AwPCSD, OS-AwPCSD (etc) that are essentially the same algorithm but with a block-based update or a per-projection update. In theory, we could just have a single algorithm, e.g. OS-AwPCSD, and then AwPCSD would just be a wrapper to OS-AwPCSD, but with a fixed block size of 1.

This will make everything much tidyer .

[2020-12-03 23:17] AnderBiguri opened #211 "Merge FISTA and FISTA_mod"
Instead of having 2, just have a FISTA with extra parameters.

[2020-12-04 00:32] genusn commented on #209
If you are considering changing that option, there is one thing that I want you to consider together. When I started using TIGRE, it seemed to me that the term "ray-voxel" is not self-explanatory. I expected something like "siddon-jacobs", "siddon", "jacobs", "matched (not good as an option of Ax)" etc. I am not sure other potential user may feel so.

[2020-12-04 00:37] AnderBiguri commented on #209
@genusn fully agree

[2020-12-04 00:38] yliu88au commented on #197
I have had the similar problem on two-GPU (also Quadro P5000) before. After changed to newer version of CUDA and recompiled, the problem went away. @AnderBiguri

[2020-12-04 05:27] yliu88au commented on #197
@AnderBiguri Sorry, after further test, OS_AwASD_POCS (MATLAB) still crashes on the 2-P5000 machine. MLEM algorithm runs fine on the same computer (means Ax and Atb are good).

[2020-12-04 06:48] yliu88au commented on #197
Further investigation shows that algorithms crashes at line
f=minimizeTV(f0,dtvg,ng);  or f=minimizeAwTV(f0,dtvg,ng,delta); on a computer with 2 P5000 GPUs (MATLAB). Hope this information helps.

[2020-12-04 09:16] AnderBiguri commented on #197
@yliu88au yes that is actually very useful information.

Its interesting because I have use those algorithms in 2 GPU machines well, but apparently either a particular configuration, or the P5000s are making this crash.

[2020-12-04 14:39] AnderBiguri commented on #202
Hi @roshtha how is this going?

I have a collaborator who worked on this that would be happy to have a discussion via email if you are having trouble with it.
Let me know, so we can make sure you can do the stuff you want and I can close this issue.

[2020-12-05 14:37] roshtha commented on #202
Hi @AnderBiguri,

Thanks for offering help. I am very new to C arm CT technology and I tried OS_SART with d018 demo script. But could not get expected results and now verifying the geometry part. I will send the code I tried along with geometry and raw data through mail. It would be very helpful if you can guide on this.

Thanks.

[2020-12-05 14:37] #202 closed

[2020-12-06 13:39] genusn commented on #207
I wanted to know the relative position of the center of the image and the x-ray source, or where the rotation axis (RA) is in the image, or where the RA is projected on. I prepared an image like a wire parallel to the RA, and bumped into this issue.

![proj_case3](https://user-images.githubusercontent.com/25704789/101281584-1e5ede80-3813-11eb-88c6-3839a6c118c8.gif)

It seems to occur only when nVo

[2020-12-06 17:56] AnderBiguri commented on #207
@genusn I thought all this could be caused by integer divisions, but I have not found such thing in the source.

That thing you show its quite strange. What are the angles? If you are making a vertical wire, its possible to get different intensities as we are dealing with voxels, and therefore ray-voxel intersections will have different lengths with rotation angle. However that "zero" is weird....

[2020-12-06 22:43] genusn commented on #207
Here is the code to reproduce the above image and the result from other view:
[code]
![plot_case3](https://user-images.githubusercontent.com/25704789/101295209-8d622480-385f-11eb-9c54-b9f86dd71552.png)

[2020-12-08 08:56] genusn commented on #207
This also happens on MATLAB.
[code]
![proj_cone_Siddon](https://user-images.githubusercontent.com/25704789/101461294-022b8080-397e-11eb-8405-3dfce6467d00.gif)

[2020-12-08 10:16] AnderBiguri commented on #207
@genusn good to have confirmation, but expected. This has to do with the source code, I need to get to the bottom of why its happening.
But unfortunately it will need to wait, as I don't have time now :(

[2020-12-08 10:19] AnderBiguri opened #216 "Update FAQ (old info)"
There is outdated info there.

Plus we need a demo to explain how to change xml files if your CUDA/cc does not match whatever TIGRE gives.

[2020-12-09 08:48] yliu88au commented on #207
What I found is that, instead of detector 0.5 offset on v, if we offset 0.5 on u direction, then the projection will work. This shows that, perhaps internally, python version has u and v exchanged. Hope this helps. @AnderBiguri @genusn

[2020-12-09 09:58] genusn commented on #207
@yliu88au Thank you for the info. This happens both on Matlab and Python, not only 2d, but also 3d.

What I am looking at is a variable 'ray' in the kernel function. One or two components can be zero. If zero, the integral of the ray becomes zero(strange!) and if nonzero, such as 1e-8, the value is as expected. The "non-generic ray" does not seem to be treated proprely, so far to me. I'll look int

[2020-12-09 10:19] AnderBiguri commented on #207
@AnderBiguri for uneven detector, I more or less understand what is happening here with the center pixel then, with your info.

The `ray` variable indeed suddenly starts having all zeroes due to the following code, as `ray.z` is definetly zero, while `ray.x` and `ray.y` can be zero.

https://github.com/CERN/TIGRE/blob/09030ea1a79b8d62250687e7d8ac4cef088abe9b/MATLAB/Source/Siddon_projection.cu#L160

[2020-12-09 11:16] AnderBiguri commented on #207
@genusn  disregard the previous comment,  eps in there does not seem to fix the issue.... Confused.

[2020-12-09 12:03] AnderBiguri commented on #207
Here is the issue in the kernels.
The following epsilons do not help us get rid of the division by zero, they only make the problem worse!

https://github.com/CERN/TIGRE/blob/09030ea1a79b8d62250687e7d8ac4cef088abe9b/MATLAB/Source/Siddon_projection.cu#L204-L206

In the horizontal line on uneven detectors, `ray.z==0`, which means that there is a division by zero. This means that there will be zero i

[2020-12-09 12:11] AnderBiguri commented on #207
Maybe a temporary solution is to test properly `interpolated` projector for these cases and enforce it, particularly in 2D.

[2020-12-09 12:30] genusn commented on #207
@AnderBiguri  Another solution is to introduce If-trivial-clause. If the trivial cases are rare, branch divergence may not be a problem.... I am not sure yet.

Or, add tiny offset of the angle (to avoid vertical blackout) and V (to avoid horizontal blackout)?

[2020-12-09 12:33] AnderBiguri commented on #207
@genusn yes, I will test the trivial case solution, maybe worth considering.

I will first see if I can find a solution without touching the geo (even if we already to it quite often...), but that also can be a solution. Looking into this now.

[2020-12-09 14:47] AnderBiguri commented on #207
I think I have solved the axis-parallel ray issue in #218

[2020-12-09 15:48] AnderBiguri commented on #208
Code from #207 :

[code]

Shows that for  test_case == 1 the projections are not symmetric. This is likely related to why #207 does not work well.
I have not been able to reproduce for another test case, this is likely related to some bug at `compute_deltas` functions.

[2020-12-09 16:32] AnderBiguri commented on #208
The above is caused by the solution to #198. Possibly #218 has actually fixed #198 in a less hacky way and we can remove the artificial offsets.

[2020-12-10 10:08] genusn commented on #207
Could you please apply 24d7101 to python?

[2020-12-10 10:24] AnderBiguri commented on #207
@genusn forgot to remove the `eps`, but otherwise should be there. Give me a sec.

[2020-12-10 14:53] AnderBiguri opened #219 "Harmonize python/MATLAB demos"
Ideally we'd have the same examples in both. The python ones are particularly lacking.

[2020-12-10 16:17] #216 closed

[2020-12-10 22:46] yliu88au commented on #219
Good idea. So far I could not get python versions algorithms (particularly POCS) to agree with MATLAB version.

[2020-12-11 05:55] yliu88au commented on #207
PR218 It seems fixed the 2D problem as well as 0.5 offset. Great!

On the other hand, algorithms in Python are still buggy, particularly for those "POCS" family. I am trying to fix a few...

[2020-12-11 08:32] AnderBiguri commented on #207
@yliu88au ah that's great! One bug at a time. Can you open an issue with what you see? Which algorithms aside from Pocs you see go bad?

[2020-12-11 10:27] #207 closed

[2020-12-11 10:27] #208 closed

[2020-12-11 13:12] genusn commented on #219
As for demos, do you keep using jupyter notebooks or migrate to python scripts?

[2020-12-11 13:29] AnderBiguri commented on #219
@genusn still unsure.

I really like jupyter notebooks when they are proper, as they can be rendered in Github, so one can have demos without even running them. But also they are a bit more of a paint to maintain and use in github.

I though about making 2 set of "demos": demos and exercises. The first being basically the same as in MATLAB, using basic python scripts and the second just a limited

[2020-12-12 11:33] #162 closed

[2020-12-12 11:33] #195 closed

[2020-12-12 12:40] AnderBiguri commented on #219
fair point.

Thing is, MATLAB also has its own notebook system, that basically is a copy of what a jupyter notebook is.
I think its likely better to have just all in standard MATLAB and python, then as you say, if at some point we have much nicer examples to show, we can either make a new repo  TIGRE-examples, or simply make a folder in Frontispiece with nice visual examples that work well in Gith

[2020-12-15 03:57] liurenjie666 opened #222 "geometry for curved detector"
## Expected Behavior
Are there examples of geometry setting for curved detector panel?
I am working on a helical CT project with equiangular detector units, but I only find geometry setting with equidistance detector units. Could you please are there demos for that or how to implement it?
Thanks a lot!

[2020-12-15 05:01] yliu88au commented on #219
@AnderBiguri I still could not get Python examples to agree with MATLAB for the POCS algorithms, even with the same setups I used. I have compared all CUDA sources (*.cu), the main difference between MATLAB and Python versions are lines:

"#if IS_FOR_MATLAB_TIGRE"
   "......"
"#else"
   "......"
"#endif"

My understanding of these lines are to deal with "row_major" and "column_major" difference in

[2020-12-15 09:54] AnderBiguri commented on #222
Hi @liurenjie666 , I have bad news! TIGRE does not support curved detectors yet.... Its on my TODO list, but requires a serious amount of work in the source code... If I have time until January I may try to implement it, but I can't promise anything yet, sorry about that.

What others have done in the past is to "flatten" the detector. Its not ideal, but you can imagine a flat detector with more p

[2020-12-15 10:48] AnderBiguri commented on #219
@yliu88au  do you have example code to reproduce this? Maybe we should open a different issue on the topic. I suspect its not the CUDA code, as the TV calculation is symmetric, thus axis-changing should not have an impact on the TV computation. Maybe something else is off...

[2020-12-15 10:49] AnderBiguri opened #223 "POCS algorithms behave differently on MATLAB and python"
This has been reported. Investigate.

[2020-12-15 12:59] liurenjie18 commented on #222
Many thanks to you!!! I will try the interpolation.

[2020-12-15 13:41] AnderBiguri commented on #222
I'll leave this open, TIGRE should either allow for curved detectors, or provide an interpolating function.

[2020-12-15 13:45] #44 closed

[2020-12-15 13:45] #20 closed

[2020-12-17 12:43] AnderBiguri opened #226 "Design and choose logo"
Its about time TIGRE gets a logo.....

[2020-12-17 16:27] WKrauze commented on #168
@AnderBiguri I am currently working on this fix, however in Matlab version of TIGRE. I already added these additional geometric transformations to "parallel" versions of the files. I haven't defined rollPitchYaw function in "parallel" files, since then I get errors during compilation that this function is defined in two different places. Now when I set rotation in my Matlab test code, the image ge

[2020-12-17 16:37] AnderBiguri commented on #168
@WKrauze  oh, very great news! Thanks for working on this!

About the multiple definition: Yes, this is an issue. We need to either put the function in a separate file, or simply rename it. I suggest you rename it for now, something like `rollPitchYaw_parallel`.

You are right in your assessment of the rotation, it seem that in the parallel beam the "yellow" head is much larger and off center. Unf

[2020-12-17 16:48] WKrauze commented on #168
@AnderBiguri Sure, I will rename the function, and in a few hours I will make a PR. The code that I use for testing is:
[code]

[2020-12-18 02:46] yliu88au commented on #223
@AnderBiguri I can see three issues here:
(1) FDK algorithm returns two different results from MATLAB and Python versions;
(2) 2D case specific: Remember in MATLAB version of minTV and AwminTV, we need to duplicate and pad 2D [m,n] array as [m,n,2] before we passing it to GPU to process. And then trim the returned result back to [m,n] array. In Python, 2D case will have [1,m,n] array, which is pas

[2020-12-18 02:51] yliu88au commented on #223
Example code for 2D and 2D.

[example.zip](https://github.com/CERN/TIGRE/files/5713358/example.zip)

[2020-12-18 10:23] yliu88au commented on #223
@AnderBiguri I think I have fixed issues (2) and (3) in PR 228. Issue (1) still remains.

[2020-12-18 10:44] AnderBiguri opened #229 "FDK does a different thing in MATLAB and python"
#223

[2020-12-18 10:44] AnderBiguri commented on #223
Thanks for this comments and the PR!

As tyou say in (3), we might need to change a couple of things in the cuda source. It would be interesting to test with m==n first and compare both python and MATLAB to see if that is the same, and then change it. I suspect as you say (and I commented in the PR) that this has a negative influence.

I opened #229 for FDK

[2020-12-21 01:10] yliu88au commented on #197
With all new PR incorporated (PR221 and PR 228), **both** MATLAB and Python versions crash for 2D cases only and 3D case runs OK on this dual P5000 GPU computer, and with algorithms involving either POCS_TV.cu or POCS_TV2.cu. Same examples (2D and 3D cases of both versions) run OK on single GPU computers. @AnderBiguri

[2020-12-21 10:06] yliu88au commented on #197
@AnderBiguri Further tests show that, for problem with geo.nVoxel=[x,y,z], if z=1,2,3, POCS algorithms crash on both MATLAB and Python version on dual GPUs (P5000) computer. However, if z>=4, all runs OK. I am wondering if this is true for other dual GPU computers?

[2020-12-21 10:13] AnderBiguri commented on #197
@yliu88au it is likely true for most. I suspect a bug on the multi GPU code. That information helps a lot, its likely that the special case of small Z is not handled correctly when splitting the image among the gpus

[2020-12-21 11:15] yliu88au commented on #197
@AnderBiguri Yeah, the multi-GPU code section in say Siddon_projection.cu looks quite different from that of POCS_TV(2).cu.

[2020-12-21 12:23] AnderBiguri commented on #197
@yliu88au actually that is expected. At this lower level, the particular problem that we are trying to solve requires a radically different code to make it parallelizable. I think the issue is somewhere here (and subsequent lines)

https://github.com/CERN/TIGRE/blob/41ffa73421512b49515e749a7d809d8d8c0af948/MATLAB/Source/POCS_TV.cu#L309

Particularly the section where there are multiple GPUs, but t

[2020-12-21 15:07] morbrorfrans commented on #226
![tigre_orange](https://user-images.githubusercontent.com/9610253/102790390-461a7e80-439d-11eb-8f68-26731046a667.png)
Could it also be for "tigre"?

[2020-12-22 05:07] yliu88au commented on #197
@AnderBiguri I see. I have found a quick (may be not optimal) solution to this problem. Just use single GPU when problem is thin (i.e., z<4), by adding one line above line 309 as:

        // if it is a thin problem (no need to split), just use one GPU
        if (image_size[2]<4){deviceCount=1;}

I have tested several examples with z=1,2,3 for both POCS_TV.cu and POCS_TV2.cu, and it works for bot

[2020-12-22 15:15] #223 closed

[2020-12-22 15:26] AnderBiguri commented on #197
I will still leave this open, as the original problem was in issues bigger than z=4, thus PR #230 was only partial, as far as I know.

[2020-12-22 15:29] #200 closed

[2020-12-22 23:19] yliu88au commented on #197
Agreed. Since #230 is only a simple temporary fix for these cases when z<4. Should have better solutions. @AnderBiguri

[2020-12-23 17:40] AnderBiguri commented on #222
This is work in progress. While a CUDA code for curved detector is not coming anytime soon, an interpolator that flattens detectors will.

[2020-12-24 00:13] genusn commented on #229
Tested.

## Preparation on MATLAB
[code]
## Test on Python
[code]

## Result
The maximum difference between the corresponding voxels was 2.2370368242263794e-06.
[code]
![imgDiffY](https://user-images.githubusercontent.com/25704789/103045283-38e0d800-45c7-11eb-979c-3c4b07cb86dd.gif)

![imgDiffZ](https://user-images.githubusercontent.com/25704789/103045277-31b9ca00-45c7-11eb-995e-2ac741b19eab.gif)

[2020-12-24 01:11] yliu88au commented on #229
@genusn Very interesting! I just cannot see what was wrong with my following two tests:
Python:

        from __future__ import print_function
        from __future__ import division
        import tigre
        import tigre.algorithms as algs
        import numpy as np
        from matplotlib import pyplot as plt
        from tigre.utilities.Measure_Quality import Measure_Quality
        from sci

[2020-12-24 01:34] genusn commented on #229
@yliu88au Interesting! I modified MATLAB code as
[code]
and re-run the python code. Obtained almost the same result:
[code]
My test uses the projections generated by MATLAB to focus on the FDK process.

What happens if you save ```proj``` in MATLAB and load it from Python?

[2020-12-24 01:43] yliu88au commented on #229
@genusn Sorry, My bad, I was calculating 'nRMSE" in Python, compared with "RMSE" in MATLAB.
Now, the error in Python are:

RMSE fdk:
0.03994673895037564
RMSE osawasdpocs
0.019924386213311437

 Much closer to the results of MATLAB. I think we can safely close this case now. @AnderBiguri

[2020-12-24 01:47] genusn commented on #191
Revised the table above. The xVoxel/xDetector rows are added.

#### 3D image

As for the point of (X,Y,Z)

|               | MATLAB  | Python |
|---------------|---------------|--------|
| geo.xVoxel | [X;Y;Z]   | [Z,Y,X]  |
| Voxel value   | mat(iX,iY,iZ) | mat[iZ,iY,iX] |
| Axial slice   | mat(:,:,iZ)   | mat[iZ]       |
| Memory layout | iX+nVoxelX * (iY + nVoxelY * iZ ) | Same as left  |

####

[2020-12-25 10:55] #229 closed

[2020-12-25 11:42] franzpx125 opened #231 "setup.py is for CUDA 11"
Installation Instructions for Python reports that CUDA 10.1 was successfully tested (on Windows). However, setup.py includes:

-gencode=arch=compute_86,code=sm_86

which seems to me is available only on CUDA 11.

[2020-12-25 11:57] AnderBiguri commented on #231
@franzpx125 ah, absolutely. I should change the documentation to clarify that. Its an easy fix, you just need to remove that line, and it will compile in 10.1.

I should find a way to have a flexible `setup.py`, as TIGRE does not really care which CUDA is being used, as long as its newer than 9.2...

[2021-01-06 02:20] scf819 opened #238 "help to Z-axis data missing"
I am trying to do CBCT reconstruction. There is a detector offset in the Z-axis, namely
  ` geo.offDetector = [0; -120]; % Offset of Detector (mm) `    which leads to insufficient data on both sides of the Z-axis and obvious artifacts. Is there any good   way？    #151  @dyycy

## Actual Behavior##

![Image of demo](https://github.com/scf819/demo/blob/main/demo.png)

![Image of rec](https://github.

[2021-01-06 08:18] AnderBiguri commented on #238
Hi!
Can you share the full geometry?
As you know, this artifacts are normal, as imat some point you won't have enough info in the z direction. As you say there may be algorithmic ways to improve it a bit, but offset in V direction is much more limiting than in U direction, due to rotation direction of the machine.

I have never heard of those variations of FDK, can you share some papers? If they a

[2021-01-06 09:41] scf819 commented on #238
hi，there is full geometry.and `geo.nVoxel=[512;512;236];  `  minimize data truncation along the Z axis
%% geo
geo.DSD = 1139;                     % Distance Source Detector      (mm)
geo.DSO = 708;                       % Distance Source Origin        (mm)
% Detector parameters
geo.nDetector=[1536 ; 144];	% number of pixels         (px)
geo.dDetector=[0.53; 0.53]; 	% size of each pixel        (mm)

[2021-01-06 10:51] AnderBiguri commented on #238
Thanks a lot!

My answer is that this sounds like a thing TIGRE should have in the FDK (which one of the 4, no idea! maybe all of them?).
However, I don't currently have the time to implement and test these, so the current answer is that you can't do them with TIGRE now.

If you or anyone else wants to implement them, I'd me more than happy to help and add them to TIGRE!

[2021-01-07 08:35] scf819 commented on #238
i try to implement them,however,i need help,I'll email you back later.

[2021-01-07 09:05] dyycy commented on #238
@scf819 Your problem is a classic problem of "long objection reconstruction". My answer is NO. The data are seriously missing, so it is impossible to deliver reasonable results with FDK. Either is iterative algorithm, unless you have some significant constraints.

[2021-01-07 09:12] AnderBiguri commented on #238
I agree with @dyycy. Those FDK algorithms will help get a better image, but it won't be significantly better, your image Z is much larger than the projection, you are simply missing lots of info (not measuring it). and if the info it's not measured, it can't be recisntruted.

TV algorithms cheat this a bit by knowing that the sample should be smooth, thus giving you something better with the littl

[2021-01-07 09:28] scf819 commented on #238
hi，@dyycy
As shown in the figure below, A (blue part) has sufficient data, >360 Angles, and C (red part) with serious data missing cannot be reconstructed, while B (green part) should be able to add weight and other methods to effectively reconstruct the image, and then I try to reconstruct the green part with high quality.
In fact, I used an iterative algorithm, and the green part could not be co

[2021-01-07 11:17] dyycy commented on #238
I think you kind of misunderstood the issue of data sufficiency in CBCT, but anyway, it's not important here. As per the problem you want to solve, to my knowledge, it's impossible to deliver reasonable results with FDK and its derivatives. You can try iterative algorithms, but as I put previously, the results may be as lame as FDK unless some prior-knowledge of the object is added to IR as signif

[2021-01-07 11:53] scf819 commented on #238
@dyycy
Uh.. You're right，It's really difficult to solve this problem

[2021-01-13 05:16] roshtha opened #240 "SART with FDK initialized image - Artefacts in reconstructed image"
Hai,

I applied SART algorithm with FDK output as initialization image for DBT reconstruction from raw projection data (`followed d19_DBTexample.m`). Then I could see stripe like artifacts in the reconstructed images. For some slices, this is prominent across the whole image.

![Artifacts1](https://user-images.githubusercontent.com/5310634/104409419-3cdf9480-558c-11eb-8379-807da5aea3e7.png)

Also

[2021-01-13 09:07] AnderBiguri commented on #240
Hi @roshtha

If you just do FDK reconstruction, are those patterns also there? I suspect the answer will be yes.  If that is the case: My hunch is that this is caused by the FDK image.

When you initialize your image to all zero (i.e. normal SART), the image after reconstruction is not 100% the truth, there will be always some part with errors. The same happens when you initialize with FDK.

The i

[2021-01-13 12:35] roshtha commented on #240
Hai @AnderBiguri,

Thanks for your detailed explanation. I proceed by applying some preprocessing to FDK images before inputting to SART.

[2021-01-13 12:35] #240 closed

[2021-01-28 12:37] AnderBiguri opened #241 "check_geo returns wrong variables when calling it with 2,3 projections and a np.array for DSD or DSO"
The following fails because `Geometry.__check_and_repmat__()` thinks that the `np.array` of DSD/DSO are `offDetector` or `offOrigin`, thus repeats them again into a `(3,3)` np.array, which the breaks the code to copy into C arrays.

The bug is `__check_and_repmat__`

[code]

[2021-01-28 14:53] #183 closed

[2021-01-28 14:55] AnderBiguri opened #244 "Unify source"
We have 2 folders with source, and it seems that we could work something out to just have a single folder and build python or matlab against it, halfing our job when improving it, and minimizing future bugs.

[2021-01-28 16:24] #241 closed

[2021-01-28 18:30] paskino opened #245 "Conda recipe"
I've created a conda recipe for TIGRE. Actually 2 ways of doing it:

* https://github.com/paskino/TIGRE/tree/conda_recipe integrates the recipe in this repo
* https://github.com/paskino/TIGRE-conda will download the TIGRE source from github and patch it to compile

IMHO, it'd be better to integrate into this repo. However, I think we should think of tackling the following:

1. currently the comput

[2021-01-28 19:00] AnderBiguri commented on #245
Hum the problem of course is that CUDA+MSVS+MATLAB are a dangerous number combination.

My current approach is to just make the users tune their install. I guess something like cmake that grabs the libraries etc would make sense, but I am going to be honest here and say that I'd would like to avoid that, from experience from SIRF.... It just has added more problems than it has solved for me.

I ma

[2021-01-28 20:03] paskino commented on #245
Of course. In CIL we'd like to have a binary package for TIGRE to be able to install from conda.

I understand your approach. So we may as well do 2. which would allow us to create a binary package from this repo without "polluting" it.

[2021-01-28 22:54] AnderBiguri commented on #245
Sounds good! I also agree that its best if I have the conda packages integrated in this repo, but you may need to give me a hand with that because I have no idea what is needed there

[2021-01-29 01:33] genusn commented on #244
Good idea.

Before going further, I think the files to define mex functions such as minTV.cpp, tvDenoise.cpp and projections.cpp should be moved to MATLAB/Utilities or somewhere under MATLAB folder.

[2021-01-29 08:22] paskino commented on #245
This is the whole reason why I created this issue, but I understood you didn't want to do it. I'm fine with both approaches.

With a binary package (I think) one aims a covering 80% of its users.

The [difference ](https://github.com/CERN/TIGRE/compare/master...paskino:conda_recipe)between TIGRE's repo and my fork is very little and all in `setup.py`. I think we should try to find 2 settings for h

[2021-01-29 09:11] AnderBiguri commented on #245
Mmmm I think if we find a way to have a couple of options, i.e. latest CUDA vs some old CUDA, that should be fine to have here.
I suspect we may not even need two `setup.py`, the CUDA SDK version should be available at run-time, so we should be able to just drop whichever flags are needed, as the source is already working for most CUDA/GPUs. Seeing your `setup.py`, we just need to conditionally co

[2021-01-29 09:38] JitendRathore opened #246 "No module named '_Ax'"
Hello,

I was trying to implement the TIGRE module, I setup the environment following the instructions:

I already had the python
Installed Visual Studio
Installed CUDA
Downloaded TIGRE-master
run python setup.py install --user in the pyhton folder (with CUDA 10.1 this did not work so I upgraded to 11)

It looked, that the steps worked fine.
![xx](https://user-images.githubusercontent.com/78167947

[2021-01-29 09:41] AnderBiguri commented on #246
Thanks! It did not work for 10.1 because my instructions are unfinished, there is just a single line in `setup.py` that basically targets most modern GPUs, and that requires CUDA 11.0. However, this information is not too useful for you.

Let me try to install those versions on my windows PC, see if I get the same errors....
Meanwhile if anyone else knows how to solve the issue, feel free to pitch

[2021-01-29 10:35] AnderBiguri commented on #246
Hi again @JitendRathore

Can you verify you are using Python 3.7? There has been some reports of TIGRE not working on python 3.8 and 3.9, and your output suggest you are using 3.9:

[2021-01-29 10:56] JitendRathore commented on #246
Actually, I just checked it seems I have both python 3.7 and 3.9 on my system and I tried on both it does not work on either and give the same error:
In 3.9: ImportError: DLL load failed while importing _Ax: Le module spécifié est introuvable. (The specified module could not be found.)
In 3.7: No module named '_Ax'

[2021-01-29 10:59] AnderBiguri commented on #246
It is likely that you compiled `python setup.py install --user` using python 3.9, and this is why you are getting this error when running with either 3.9 and 3.7 the code. Try to rebuild (delete contents of `/build` folder, just in case) making sure you use 3.7, and try again.

[2021-01-29 11:07] AnderBiguri commented on #244
My suggestion:

Have the main repo have an extra folder `/Source` or `/CUDA`. I think this makes more sense than to have python build against `MATLAB/Source` (or vice versa)

Then, I see a couple of options:

1.  Then, leave the `cpp` files in `/MATLAB/Source`.
2.  Completely delete the `/MATLAB/source` folder and have a `/MATLAB/Utilities/Source` folder with the `cpp` files

Any other proposal th

[2021-01-29 11:15] JitendRathore commented on #246
I deleted the the contents on `/build` and complied again `python setup.py install --user` now it gives another error
![xx](https://user-images.githubusercontent.com/78167947/106268659-b08bcd80-622b-11eb-84ac-784732741091.png)

[2021-01-29 11:17] AnderBiguri commented on #246
Hi @JitendRathore ,

Can you please post the entire message, in text format?

[2021-01-29 11:19] JitendRathore commented on #246
Using c:\users\jr\anaconda3\lib\site-packages
Finished processing dependencies for pytigre==0.1.8

(base) C:\Users\JR\AdvanCT_project\TIGRE-master\Python>python example.py
tigre/Source/TIGRE_common.cpp (7): kernel fail
tigre/Source/TIGRE_common.cpp (14): Ax:Siddon_projection invalid device symbol

[2021-01-29 11:20] AnderBiguri commented on #246
@JitendRathore  which GPU are you using?

[2021-01-29 11:27] JitendRathore commented on #246
it is NVIDIA QuadroM1200 version 460.89

[2021-01-29 11:32] AnderBiguri commented on #246
Hum, you may have found a bug that almost only apply to your GPU.

Lets try one thing: Can you open `setup.py`  and go to lines 18-29:

[code]
and ad a line that says teh following, just after the 37 one:

`   '-gencode=arch=compute_50,code=sm_50',
`
Then run setup again, and test again.
I think we just missed your GPU in the compilation options, apologies!

[2021-01-29 12:49] JitendRathore commented on #246
Thank you Ander. It is working now.

[2021-01-29 13:33] AnderBiguri commented on #246
@JitendRathore  wonderful!

Don't hesitate to ask more questions!

[2021-01-29 13:33] #246 closed

[2021-01-29 13:43] AnderBiguri opened #247 "Python does not work for 3.8 and/or 3.9 on windows"
It gives error "`no module named _Ax`"

I think this only happens with python _not from Anaconda_.

[2021-01-30 04:41] genusn commented on #247
While ```building '_Ax' extension```, my compiler complains as below:
[code]

Tested on a fresh clone in a dedicated folder on a machine of following specs:

| Software        | Version           |
| ------------- |:-------------:|
|**Windows**| 10  64bit |
|**Python(anaconda)**|  3.8.5 |
|**CUDA**| 11.1|
|**Visual Studio**| 2019 |
|**GPU**| GTX1060 |

[2021-01-30 08:07] AnderBiguri commented on #247
That is due to a separate thing: you are using CUDA 11.1 which does not support cc_30 anymore.

Comment that architecture in the setup.py (technically you can just leave the one for your gpu)

[2021-01-30 10:13] AnderBiguri opened #248 "Make sure people don't need to edit build scripts for GPU/CUDA SDK"
Python setup.py fix comming soon, but unsure how to do this for MATLAB.

Ideas:

1. Have several xml files per CUDA version supported
2. Write a MATLAB script that will read your CUDA version, edit the xml file.

[2021-01-30 10:18] AnderBiguri commented on #245
@paskino the latest commit https://github.com/CERN/TIGRE/commit/4eca27945c42d8aa0944eca014ce0fdc9d6d8b0d should edit the compiler flags by reading your CUDA version and removing the unsupported ones. I don;t have the hardware to test this properly, but in theory this simplifies the problem, only 1 build needed.

To redistribute compiled binaries though, that will require, as you said, multiple bui

[2021-01-30 10:19] AnderBiguri commented on #247
Have fixed your error in commit https://github.com/CERN/TIGRE/commit/4eca27945c42d8aa0944eca014ce0fdc9d6d8b0d, now there is no need to edit setup.py depending on the CUDS SDK version.

[2021-01-30 10:52] AnderBiguri opened #249 "CGLS diverges in demo 8 MATLAB."
This should not happen, it did not use to happen, but I can not see any significant change in CGLS for years.

maybe something to do with `Ax` or `Atb`, not sure.

[2021-01-30 11:28] genusn commented on #247
Thank you very much for your updating, but in my environment, it failed in ```setup.py``` with error
[code]
I am sure my CUDA installation has been done in a standard manner.

[2021-01-30 11:31] genusn commented on #247
I found that version.txt exists in v9.0 and v10.1, but not in v11.1

[2021-01-30 11:32] AnderBiguri commented on #247
Huh interesting. Unsure if NVIDIA keeps changing stuff or some bug in my code.

Is that the location of your CUDA on your PC? If so, can you see if there is a file named like that, or something similar?

In any other older version, its  a file just containing the text: `CUDA Version 10.2.89`

[2021-01-30 11:32] AnderBiguri commented on #247
Ah, interesting find... I need to find a different way to solve this issue then. Ouch.

[2021-01-30 11:35] genusn commented on #247
[code]
or something like that?

[2021-01-30 11:35] AnderBiguri commented on #247
Yes, it will have to be that. I was trying to avoid it because it means calling the `nvcc` and I also don't know if they changed the way they print that.

[2021-01-30 11:51] AnderBiguri commented on #247
@genusn  can you test the latest commit?

[2021-01-30 11:59] genusn commented on #247
@AnderBiguri It stopped immediately without any output.
v.11 outputs an extra line.
[code]

[2021-01-30 12:11] AnderBiguri commented on #247
Oppps! Remove the following, try again:

https://github.com/CERN/TIGRE/blob/master/Python/setup.py#L91

[2021-01-30 12:20] genusn commented on #247
[code]
My suggestion is to use $2 of
[code]

[2021-01-30 12:27] AnderBiguri commented on #247
Will try to install CUDA 11 and test it myself

[2021-01-30 12:52] AnderBiguri commented on #247
It works well on 11.0.

[2021-01-30 13:13] AnderBiguri commented on #247
It also works well in 11.1 on my machine.

Can you try to debug why you got that message? From your output, I cant see how the current `setup.py` can cause the error you got (to grave `uda_` as string for version, instead of `11.1`)

[2021-01-30 21:08] genusn commented on #247
@AnderBiguri  Thank you very much. It worked fine.
I think the code that I tried last was ```...[-1]...[xx:yy]```-ish, but I don't remeber well. I think I might have done some mistake while updating my workspace.

[2021-01-30 23:59] #249 closed

[2021-01-31 05:11] genusn commented on #244
Almost agree. Let me comment two points:
1. Any .m file seems to be a source file to me, so ```CUDA``` would be better than ```Source```. Or if you think the .cu files are the core of this project or going to add other GPGPU technology such as OpenCL, ```Core```, ```Common```, ```Common/CUDA``` or ```Core/CUDA``` might be possible.
2. Under ```MATLAB/Utilities``` folder, there are ```IO``` and ```

[2021-01-31 17:23] AnderBiguri commented on #244
I agree.

We have Python/MATLAB folders, the other one should be CUDA. If TIGRE ends up using some other GPU tech, then we can make another folder.

Similarly, I agree with the name source there. Maybe something like `MATLAB/Utilities/mex_interface` or `./cuda_interface`

[2021-02-01 11:47] genusn commented on #244
```Python\tigre\Source``` and ```MATLAB\Source``` are compared.

Only in Python  => Python/tigre/utilities/cuda_interface
 * ```__init__.py```
 * ```_Atb.pyx```
 * ```_AwminTV.pyx```
 * ```_Ax.pyx```
 * ```_gpuUtils.pxd```
 * ```_gpuUtils.pyx```
 * ```_minTV.pyx```
 * ```_tvdenoising.pyx```
 * ```_types.pxd```
 * ```errors.hpp```
 * ```projection.cpp```
 * ```projection.hpp```

Only in Matlab  =>

[2021-02-01 11:58] AnderBiguri commented on #244
@genusn  sounds good!

I suspect that `projection.*pp` in python are redundant actually, need to check that. similarly those old mex files are just there from old dev times, as we merged the python branch because the lead developer moved to other things.

[2021-02-01 13:01] AnderBiguri commented on #231
@franzpx125 this is now fixed and setup.py will accept any CUDA. Thanks for raising this.

[2021-02-01 13:01] #231 closed

[2021-02-01 13:53] genusn commented on #244
If CUDA folder goes out the Matlab folder, users become not to able to see the CUDA codes from the MATLAB IDE. Is it acceptable?

[2021-02-01 13:55] AnderBiguri commented on #244
@genusn yes I think so. MATLAB IDE is quite terrible at showing CUDA code anyways, and 99% of people who use TIGRE don't want to even look at those codes. Its not that in Common they are very hidden either. So I think its good.

[2021-02-01 14:00] genusn commented on #244
I think I can do this. May I tackle this?

[2021-02-01 14:01] AnderBiguri commented on #244
That would be amazing!

[2021-02-01 16:42] AnderBiguri commented on #244
Just important info for this topic:

Its likely that some time on the future, a version of separate MATLAB-specific source will be added.
Someone has written some code to have TIGRE/MATLAB run fully inside the GPUs (as long as it can hold the memory of the entire algorithm within). Of course, this source is quite different to current TIGRE, mostly the .cpp files, but will necessarily also be diffe

[2021-02-01 16:47] AnderBiguri opened #251 "CMake compilation"
Some people like CMake to compile TIGRE.

[2021-02-02 11:59] genusn commented on #244
That's interesting.
Can I ask why it is likely to be MATLAB specific?

[2021-02-02 12:10] AnderBiguri commented on #244
It uses the parallel computing toolbox ability to put everything on the GPU. I am sure we can do a similar thing with numba etc, but in MALTAB, it happens without any change in the MATLAB source, you just need to define the image and the projections as something that resides in the GPU, and then it will just put everything that operates with them into the GPU without asking.

Of course, this needs

[2021-02-02 12:43] genusn commented on #244
Thank you for the explanation. I'm looking forward to see that code.

[2021-02-02 12:52] genusn commented on #244
@AnderBiguri

Two functions ```maxDistanceCubeXY``` and ```rollPitchYaw``` are defined there. These are also defined in ```.cu``` files and ```projection.hpp``` is not included by any file other than ```projection.cpp```. We can safely remove these files, but I think we will soon have to make them revive for refactoring, with other name.

[2021-02-02 12:53] AnderBiguri commented on #244
Up to you then! Happy with anything that will make TIGRE better! Leave them be if they will help with refactoring.

[2021-02-02 22:50] paskino commented on #245
Thanks!

With binary package I meant a conda package.

[2021-02-02 22:52] paskino commented on #245
In the short term we'll use the second approach, https://github.com/paskino/TIGRE-conda but I hope we could eventually integrate it in TIGRE.

[2021-02-02 22:53] AnderBiguri commented on #245
Happy to try to add alternative ways of compiling and building TIGRE. if conda and CMake are a thing people want, I guess I'll get flexible 👍

I have no idea how to make them, so please do make a PR, point me out on how I can help, or we can actually have a call or something.

[2021-02-03 14:29] genusn commented on #244
@AnderBiguri Quick question. There are two definitions of ```rollPitchYaw``` function.  In ```Siddon_projection.cu```,

https://github.com/CERN/TIGRE/blob/d9d619ef1b4da04d3f2f37a42aaca6d81ce9bff2/MATLAB/Source/Siddon_projection.cu#L819-L821

and in ```ray_interpolated_projection.cu```,
https://github.com/CERN/TIGRE/blob/d9d619ef1b4da04d3f2f37a42aaca6d81ce9bff2/MATLAB/Source/ray_interpolated_projec

[2021-02-03 14:31] AnderBiguri commented on #244
Hum, I'd say the former is incorrect. should be `i` and not `1`.

[2021-02-05 13:26] genusn commented on #244
@AnderBiguri Another quick question.  Just for confirmation. In ```voxel_backprojection.cu``` and ```voxel_backprojection2.cu```, ```splitCTbackprojection``` functions are defined. They are almost the same except the following lines:
https://github.com/CERN/TIGRE/blob/d9d619ef1b4da04d3f2f37a42aaca6d81ce9bff2/MATLAB/Source/voxel_backprojection.cu#L667-L668
and
https://github.com/CERN/TIGRE/blob/d9d

[2021-02-05 13:56] AnderBiguri commented on #244
@genusn  that is correct, the first one is the right one, the second one can fail in some edge cases.

ah, this is why I want to unify all the source! At some point maybe I should put all these functions in some common backprojection file. I seem to remember having issues compiling cuda code in a separate file, thus the repetition, but that was in 2015....

[2021-02-05 13:58] AnderBiguri commented on #248
closed in #250

[2021-02-05 13:58] #248 closed

[2021-02-05 14:14] genusn commented on #244
@AnderBiguri Thank you for your answer. That's right. There are many functions that can be shared between .cu files. For example, ```POCS_TV.cu``` and ```POCS_TV2.cu``` has common functions such as
  * divideArrayScalar
  * multiplyArrayScalar
  * substractArrays
  * gradient
  * warpReduce
  * reduceNorm2
  * reduceSum

A new ```.cu``` files is necessary for them and the file name that popped up

[2021-02-05 14:19] AnderBiguri commented on #244
@genusn  lets leave that to a separate issue. I am not sure if `gradient` is the same for both, but all the rest can be put into a `cuda_utils.cu` file, as they are operations on arrays (I am sure also that some CUDA library has them implemented and that my implementations are redundant, but well). In the past there was an issue with compiling several .cu files with shared code. CPU code may be go

[2021-02-05 14:20] SepidehHatamikia commented on #91
Hi,
I will try to fix the issue.

[2021-02-05 14:33] genusn commented on #244
Agree. No problem.
Now that unifying the source folders is completed in my ```refactor_unify-source``` branch, I will make PR in a few days after some tests.

Yes, they are, and there is ```gradientTV``` only in ```POCS_TV2.cu```.

[2021-02-05 14:53] AnderBiguri commented on #244
Ah, a third issue would be to rename all these functions to something more sensible, including `POCS_TV.cu`, as it has nothing to do with POCS itself... Many ghosts from the past hehe

[2021-02-07 08:46] aspfate opened #254 "set_cuda_cc_flags() cannot work fine on Linux;"
## Expected Behavior
build success

## Actual Behavior
build failed

## Code to reproduce the problem (If applicable)

[code]

## Specifications

  - MATLAB version:2020b
  - OS:Centos8
  - CUDA version:11.0

new introduced set_cuda_cc_flags() function don't compatible with mex_CUDA_glnxa64.xml struct.

[2021-02-07 17:09] #254 closed

[2021-02-07 17:09] AnderBiguri commented on #254
Thanks! Fixed :)

[2021-02-11 09:27] #244 closed

[2021-02-11 10:10] #112 closed

[2021-02-11 10:11] #41 closed

[2021-02-11 10:13] AnderBiguri opened #255 "Implement adjoint operators"
Albeit slower, they are mathematically "nicer", and many people prefer to have fully matched/adjoint operators.

This basically just needs to reproduce the same  kernels for forward projection, but to read from projection and store in image.

Kernel changes are minimal, but requires quite more changes in the memory management side of the CUDA code.

[2021-02-25 13:42] chg0901 opened #258 "Question"
## Expected Behavior
I want to reconstruct a 3D image for the given DCM data.

## Actual Behavior
Now I can just run the demo and look at the performance of this library.

## Code to reproduce the problem (If applicable)

[code]

## Specifications
I want to know how to combine these 2D figures (many figures with the same size of 128*128) as a 3D figure. And I want to visualize it and save it. Or c

[2021-02-25 13:45] AnderBiguri commented on #258
Hi,

I am not really sure what you are having problem with. Loading data? saving data? in which format do you want your data saved?
When you say "figure", you mean "image"? Which "2D figures" are you talking about?

[2021-02-25 14:00] chg0901 commented on #258
I will show you an example
![image](https://user-images.githubusercontent.com/8240984/109162657-cf926680-77bb-11eb-9a30-cf8080c2b766.png)

![image](https://user-images.githubusercontent.com/8240984/109162707-dc16bf00-77bb-11eb-89a8-725c719e81ba.png)
Here are two images. and there is a total of 128 images with the size of 128I*128. I don't know to use them.

I hope this is a tutorial that can help

[2021-02-25 14:10] AnderBiguri commented on #258
Hi,

Those image, taken from TIGRE, are actually 3D images. As visualizing 3D images is not easy, in TIGRE we tend to visualize them in 2D slices, but they are already a 3D image (as you can see from the `size(imgFDK)` or `size(head)` functions. They are nto necesarily 128 images of 128x128, they are a single image f size 128x128x128.

Now, medical imaging is a very wide field and there does not e

[2021-02-25 16:54] sco1 commented on #194
Hi Ander, is this something you're open for collaboration on?

[2021-02-25 16:56] AnderBiguri commented on #194
Hi @sco1 !
Apologies, I do not know who you are (changed nickname since?).

But yes! absolutely, everything is open to collaboration :)

[2021-02-25 18:25] sco1 commented on #194
I'm happy to work on the PR to add what's decided on. I'll put out some things to consider first, as there are some stylistic choices to make for a few in order to set up the desired linting errors to enforce.

#### Automatic Code Formatting with [black](https://github.com/psf/black)
This is an autoformatter to (mostly) PEP8 standards with one configuration option: line length. It may clash with s

[2021-02-25 18:44] AnderBiguri commented on #194
Actually I mostly I don't mind much which tools to use. My current goal for TIGRE is that it has to be as easy as possible for the vast majority of people (half my contributions have come from people who do not even know how to use git well) so more or less these are the things I tend to have in mind when adding stuff:

- Has to be a multi-platform solution, that covers at least Windows and Ubuntu

[2021-02-25 19:00] sco1 commented on #194
Makes total sense. All of the additions proposed above would be opt-in, so contributors won't suddenly hit a wall if these kinds of changes are merged. These can be formally enforced by CI but it seems unnecessary given the points raised.

It sounds like a good start will be to established a consistent style across the current codebase and provide the tooling for contributors to optinally follow.

[2021-02-26 02:35] chg0901 commented on #258
Thank you for your answer.

when I try to use my own data, I didn't find how to configure the parameters.

[code]
I don't know how to set
[code]
in the demo, `256 `is the size of images
`geo.DSD = 1536 `  --> `1536=256x6`
`geo.sDetector=[512*0.8;512*0.8]` --> `512=256x2`    but why a `0.8` is used here?
`geo.sVoxel=[256;256;256];` --->use the size of images

**but I don't know to choose the `geo.D

[2021-02-26 07:19] chg0901 commented on #258
I use these values in `defaultGeometry.m` to have the `geo ` struct.
[code]

in the parse_input() function, I set `'nVoxel'` as
```addParameter(p,'nVoxel',   [512;512;64],@(x)(isnumeric(x)&&all(floor(x)==x)&&max(size(x))==3));```

and I set the `epsilon=0.2` since I find that `errL2OSSART(end) `is too big (`1976.91`)

Other parameters are default values.

But the result is still not good.
original

[2021-02-26 09:38] AnderBiguri commented on #258
Hi,

Glad that you managed to get further with the code!

On having a demo to set the geometric parameters:

Each CT scanner has its own geometrical parameters, and some of them have variable geometries. Some manufacturers tell you this information, some don't. Some of the manufacturers that tell you this information only tell you in propetary format that I am not legally allowed to share here, so

[2021-02-26 10:51] chg0901 commented on #258
I also have another question, how to visualize the reconstructed figure in 3D?
Now images are just shown in 2D one by one, I hope I can visualize them in 3D.

![image](https://user-images.githubusercontent.com/8240984/109291125-f14b2680-786b-11eb-951f-f34441aefb7f.png)

[2021-02-26 10:54] AnderBiguri commented on #258
By using some 3D visualization software, which is much beyond the scope of TIGRE.
I know of Simpleware, Fiji, Avizo, VGStudio, Amide, Paraview, etc etc. I am sure Google is of more help than me here

[2021-02-26 10:56] chg0901 commented on #258
Maybe my question is not clear enough.

Our output is a 3D figure like 512x512x64, how to save this as a 3D object. is there any API to do it?

[2021-02-26 11:00] AnderBiguri commented on #258
Ah, that is a _different_ question. So its not that you want to visualize it, but you want to save it?

Same answer.... Depends in the format. you want to save it in `.mat` format? do `save("filename.mat",variablename)` and thats it. But each different format will have different code to save it. You need to be specific in what you want if you want specific questions.

[2021-03-04 12:20] AnderBiguri commented on #258
I will close this for inactivity, but feel free to ask any more questions (maybe the [discussions](https://github.com/CERN/TIGRE/discussions) tab is a better place)

[2021-03-04 12:20] #258 closed

[2021-03-04 12:22] chg0901 commented on #258
Thank you for your kind help and good explanation.

Have a good day~

On Thu, Mar 4, 2021 at 9:20 PM Biguri <notifications@github.com> wrote:

[2021-03-04 12:28] dyycy opened #261 "Error in running Compile.m"
I have been using an old version of TIGRE for long, and just pulled everything from the latest TIGRE.

## Expected Behavior
When I tried to run the Compile.m in MATLAB, the new mexw64 files should be generated.

## Actual Behavior

[code]

## Code to reproduce the problem (If applicable)

NA

## Specifications

  - MATLAB version: 2020b
  - OS: Win10
  - MVS: 2015
  - CUDA version: 10.0

## Commen

[2021-03-04 12:28] dyycy opened #262 "Error in running Compile.m"
I have been using an old version of TIGRE for long, and just pulled everything from the latest TIGRE.

## Expected Behavior
When I tried to run the Compile.m in MATLAB, the new mexw64 files should be generated.

## Actual Behavior

[code]

## Code to reproduce the problem (If applicable)

NA

## Specifications

  - MATLAB version: 2020b
  - OS: Win10
  - MVS: 2015
  - CUDA version: 10.0

## Commen

[2021-03-04 12:31] AnderBiguri commented on #261
Hum interesting.

We also changed the `xml` files, so maybe you are using your old, non-renamed `xml` file? if you updated TIGRE via pull, that file would not have changed, but it would be obsolete, you'd need to rename the corresponding (MVS2015) xml file.

[2021-03-04 12:32] AnderBiguri commented on #262
duplicate of #261

[2021-03-04 12:32] #262 closed

[2021-03-04 13:18] dyycy commented on #261
Yeah, I found that.
The xml file in this issue is the latest one. I just modified the CUDA version from 9.2 to 10.0 in that xml.

[2021-03-04 13:26] AnderBiguri commented on #261
@dyycy OK. The cuda version does not matter (the xml searches for cuda without that), but the important part is the following line:

https://github.com/CERN/TIGRE/blob/3b61bb0206ce42ac866d853827c569adf1e6c2d1/MATLAB/mex_CUDA_win64_MVS2015.xml#L40

particularly the `-I&quot;..\Common&quot;`, which tells the compiler that the source is now at `"..\Common"`. It seems that the error you are experienci

[2021-03-04 13:34] AnderBiguri commented on #261
Can you test the following for me?

Your code errors when calling:

[code]

Can we try to force the include in that call, like (just added that include parameter):

[code]

[2021-03-04 14:42] dyycy commented on #261
I forced all the mex calls with -I'..\Common'. It worked successfully! Thank you very much. I can continue my code now.

[2021-03-04 14:47] AnderBiguri commented on #261
Hum.... Still super weird, in theory that does the same thing as what the xml does.... its strange that it works in the Compile.m but not in the xml...

Lets leave this issue open until I figure out what could have gone wrong.

[2021-03-07 16:06] #168 closed

[2021-03-07 16:06] #144 closed

[2021-03-16 14:38] AnderBiguri commented on #201
Currently the NikonDataLoader is functional, but it should be a class for tidyness.

[2021-03-17 15:18] AnderBiguri commented on #219
I have started working on this on #263

[2021-04-01 09:29] AnderBiguri opened #265 "plotProj is unfinished in python"
Currently there is a function `plotProj` in python that has no optional arguments, and a semi-finished class that has many optional arguments, but is still non-functional.

I suggest finishing the class and using that.

[2021-04-01 10:38] AnderBiguri opened #266 "Wang weights (detector offset) missing in python FDK"

[2021-04-07 11:26] AnderBiguri opened #267 "Python quality measures are not correct"
At least, UQI is not correct, others unchecked.

[2021-04-07 14:39] AnderBiguri opened #268 "python OS-SART `blocksize` has to be a divisor of the number of projections"
I would like to change that.

There is no reason why the number of projections can't be an arbitrarily large prime number. We should be able to just give any blocksize and make the last block simply smaller.

[2021-04-07 16:46] AnderBiguri opened #269 "Make CGLS restarting optional in python and code it in MATLAB"
When CGLS increases the L2 norm in an iteration, we can instead of just exiting (what MATLAB does now), restart the algorithm. This means calling it again with an initial image of the previous CGLS call output (what python does now).

This is such a common thing for CGLS that it would be worth having it in MATLAB, but also it would be interesting to be able to disable it via kwargs in python.

[2021-04-14 11:17] AnderBiguri opened #270 "Write cropCBCT for python"

[2021-04-14 11:20] AnderBiguri opened #271 "ROF model TV minimization not exposed to python (tvdenoising.cu)"
Simply the code to be able to call this function from python is missing. `im3Ddenoise.m` is the matlab equivalent

[2021-04-14 11:20] AnderBiguri opened #272 "SART_TV not available in python"
requires #271

[2021-04-14 14:11] genusn opened #273 "Error in running Compile.m on Matlab 2016a"
## Actual Behavior
[code]

## Specifications
Failed:
  - MATLAB version: Matlab 2016a
  - OS: Windows 10
  - CUDA version: CUDA 11
  - Visual Studio 2015

 Succeeded:
  - MATLAB version: Matlab 2021a
  - OS: Windows 10
  - CUDA version: CUDA 11
  - Visual Studio 2019

## Cause
According to https://www.mathworks.com/help//matlab/matlab_prog/local-functions-in-scripts.html , it seems that no functio

[2021-04-14 14:18] AnderBiguri commented on #273
Ah, that is correct! Maintaining this many versions is always a headache.

I think the second option is best, simply because its almost no effort, and keeps compatibility alive for longer.

[2021-04-14 15:53] AnderBiguri opened #274 "block-algorithms don't play nice with arbitrary geometric parameters in python"

[2021-04-15 07:05] #273 closed

[2021-04-15 07:33] AnderBiguri commented on #269
related to #19

[2021-04-15 07:34] AnderBiguri opened #276 "Add shepp-logan functionality to python"

[2021-04-15 07:44] AnderBiguri opened #277 "ASD_POCS returns "no available GPUs that support cuda" in python"
This is interesting, because I don't think it did before.

Lack of CI means I have at some point introduced some bug or merged something without testing that make TV algorithms not work.

This is a priority bug.

[2021-04-15 07:56] AnderBiguri opened #278 "Add plotSinogram() to MATLAB"
Does the same as plotProj but with a transposed input, slicing on a different axis.

[2021-04-15 09:19] AnderBiguri opened #279 "Remove setatr() and getatr() calls in python"
Most of the times they are not needed, so lets get rid of them for code clarity.

[2021-04-15 09:55] AnderBiguri opened #280 "staticDetectorGeo() is missing to allow for DBT in python"

[2021-04-15 09:57] AnderBiguri commented on #271
not true, I just missed it.

[2021-04-15 09:57] #271 closed

[2021-04-15 15:01] genusn commented on #279
I searched for `setattr` and `getattr`, but in most (all?) of the cases, the attribute name seemed to be variables. Could you tell me
 which do you think you can remove for example?

[2021-04-15 15:06] AnderBiguri commented on #279
@genusn I just realized many of them have gone thanks to a recent python code-quality merge! I am working on the branch for the demos and its not there yet, so I did not see it.

In any case, I strongly dislike the ones that use the variable contents, because it obfuscates code. But in fairness that is not for this Issue! sorry, doing everything too rushed.

[2021-04-15 15:06] #279 closed

[2021-04-15 17:37] AnderBiguri opened #281 "I don't understand why FISTA is 30x faster than CGLS in python"
Results are reasonable, and computational cost has to be higher, but its not.

This is measured in PR #263

[2021-04-16 09:55] AnderBiguri commented on #277
@genusn any help here, please?

I found out that this only happens if you don't give the gpuids to the algorithm. i.e.

[code]

Im an trying to find the mistake, but I can't find it.
The MATLAB side works.

[2021-04-16 10:55] genusn commented on #277
I'll tackle it on the weekend.

[2021-04-16 10:59] AnderBiguri commented on #277
@genusn no worries, I think I got it, and its certainly something that is my problem rather than your PR.

The functions that call POCS_TV.cu are not in a separate file (as the ones that call tvdenoising.cu are).
Simply, those functions do not have the:

[code]
lines.

Found them, will fix them :)

Apologies, this is something that should be different, these functions should probably be on a separ

[2021-04-16 11:17] AnderBiguri opened #282 "Put all regularization code in a `regularization.py` file, possibly a class"
currently its mixed with their own files and part of iterative_recon_alg.py, and its a mess.

(more info is needed to clarify, please do let me know if you want to tackle this, I will add more info)

[2021-04-16 12:36] AnderBiguri opened #283 "B_ASD_POCS_beta missing from python"

[2021-04-16 14:36] AnderBiguri opened #284 "improve timing printing in python"
reduce decimals, and dont just print (s) but a human readable time in H:M:S:ms

[2021-04-16 14:50] #265 closed

[2021-04-16 14:50] #274 closed

[2021-04-16 14:50] #277 closed

[2021-04-16 14:51] #267 closed

[2021-04-16 14:51] #261 closed

[2021-04-18 06:24] Shubhamlmp commented on #282
Hello Dear @AnderBiguri I am interested in working on this issue and also on some good first issues.
Thank You!

[2021-04-19 08:39] AnderBiguri commented on #219
This is not 100% solved, but almost, so I will close this issue and we can now open specific issues for each missing/unmatched demo.

[2021-04-19 08:39] #219 closed

[2021-04-19 08:40] AnderBiguri commented on #282
Hi @Shubhamlmp
Great!

If you want to work on good first issues, maybe this one is not so much, as there are some technicalities to how the code is called that I myself don't know how to fix currently.

Instead, I suggest any of #284, #278 , #276, #270, #269, #268, #266, if that is of your interest.

[2021-04-22 10:11] AnderBiguri opened #285 "plotting function in python to have optional show()"
If you are running on a machine without GUI, plt.show() will error.

Perhaps having an user-switch to turn this off (or change it to plt.savefig(), if this works in non-graphical machines) would be good.

Can this be automatically detected? (maybe just a try-except ?)

[2021-04-22 14:13] AnderBiguri opened #286 "Multi-GPU parallel beam code"
The rationale to not have this before was that the parallel beam case was trivially parallelizable, i.e. you could call 4 instance of TIGRE, instead of spreading a single instance over 4 GPUs, and many people preferred that on the syncrotron tomography side.

With the introduction of #242, this is not require anymore. One can simply give a single GPUid to each instance of TIGRE, or can instead run

[2021-04-23 10:46] genusn commented on #285
@AnderBiguri  `matplotlib.get_backend()` may work. I haven't tested it, though. https://stackoverflow.com/questions/3580027/how-do-you-determine-which-backend-is-being-used-by-matplotlib

[2021-04-24 11:16] Ayushsunny commented on #284
Hello Sir @AnderBiguri, can you guide me on this? I would like to work on this issue

[2021-04-24 12:38] AnderBiguri commented on #284
Hi @Ayushsunny , absolutely!

This one is quite easy:

Here:

https://github.com/CERN/TIGRE/blob/master/Python/tigre/algorithms/art_family_algorithms.py#L103

and maybe a couple of other places, we use `toc-tic` to print the time, in seconds. Ideally, we just want some function that takes the time in seconds, and converts it to HH:mm:ss:ms  kind of format, so its easier to read. We want it to prin

[2021-04-24 18:47] Ayushsunny commented on #284
So I need to make this function right ?

[code]
but I didn't understand that
`The best way is probably to make a new .py file within Utilities folder, that takes time in s and returns a string.
MATLAB has already a function (you can test it in MATLAB or Octave if you don;t have a MATLAB function):`

[2021-04-24 21:06] AnderBiguri commented on #284
@Ayushsunny ah, if there is an inbuilt function for it, then that is good enough!
In MATLAB there is not, so I was suggesting writting it up, but if `time.strftime` is what we want, the lets just use that! no need to make a new .py file :)

[2021-04-24 21:16] Ayushsunny commented on #284
so this is the tic-toc function https://github.com/CERN/TIGRE/blob/bde3d952bbc63586928dd5f29e4fa1be30aed573/Python/tigre/algorithms/art_family_algorithms.py#L83-L104

we are going to change sir @AnderBiguri ?

[2021-04-25 10:07] AnderBiguri commented on #284
Specifically this part:

[code]

I suggest running demo 4 of the python code, that will use this printing, and you will see it prints in `s` but we want a more human readable format.

[2021-04-25 10:10] AnderBiguri commented on #284
We also want the same thing at:

https://github.com/CERN/TIGRE/blob/bde3d952bbc63586928dd5f29e4fa1be30aed573/Python/tigre/algorithms/ista_algorithms.py#L178-L181

and

https://github.com/CERN/TIGRE/blob/bde3d952bbc63586928dd5f29e4fa1be30aed573/Python/tigre/algorithms/iterative_recon_alg.py#L324-L327

and

https://github.com/CERN/TIGRE/blob/bde3d952bbc63586928dd5f29e4fa1be30aed573/Python/tigre/algo

[2021-04-25 13:34] tsadakane commented on #276
Hi. The SL implementation is included in the first version of `filtering.py`, which was commit by @AnderBiguri in 7b8e55ecc478f98ddb82220c2de8c7b00b429c39 .

[2021-04-25 14:46] AnderBiguri commented on #276
Hi @tsadakane !

Thanks for the comment! I definitely was not clear enough here. That is indeed the shep-logan filter for FDK that I added there.
However, this issue was oppened for the shep logan phantom data, see the MATLAB version:

https://github.com/CERN/TIGRE/blob/master/MATLAB/Test_data/Shepp_logan/phantom3dAniso.m

[2021-04-25 18:29] Ayushsunny commented on #284
Okay sir I got it. So I need to replace this str -
[code]

with this -
[code]
if I am not wrong ?
please clarify @AnderBiguri

[2021-04-25 18:59] AnderBiguri commented on #284
Yes, I suppose! You need to test it to see if it works, of course.
On 25 Apr 2021, 20:29 +0200, Ayush Anand ***@***.***>, wrote:

[2021-04-25 19:32] AnderBiguri commented on #284
Before you can contribute to the repository you need to be able to run the code in you machine. Follow the installation instructions please.

On 25 Apr 2021, 21:30 +0200, Ayush Anand ***@***.***>, wrote:

[2021-04-26 18:15] Ayushsunny commented on #284
Sir CUDA is so big file for my local system.Can you please check it on yours?
please sir @AnderBiguri

[2021-04-26 19:06] AnderBiguri commented on #284
Unfortunately no...
If you want to help fixing code in Tigre then you will need to run Tigre on your local system, add your code, test it, and make a pull request when it works.

Otherwise I would just fix it myself!

On 26 Apr 2021, 20:15 +0200, Ayush Anand ***@***.***>, wrote:

[2021-04-26 19:34] Ayushsunny commented on #284
Sorry Sir, but I really wanted to be a long term contributor in CERN.
**okay sir fix it yourself, sorry again.**

[2021-04-26 21:29] Ayushsunny commented on #284
Thank you So much, Sir for your Positive response.
I'll do something for CUDA and anyhow I'll test my code and will reply you here .
again thank you so much @AnderBiguri

[2021-04-28 15:20] tsadakane opened #287 "Orientation of Phantoms"
## Expected Behavior

Orientation of the Head and Shepp-Logan  phantoms are the same.

## Actual Behavior

![phantoms](https://user-images.githubusercontent.com/40597344/116426083-c5551d00-a87d-11eb-9dd7-b9e32815f697.gif)

The AP direction of the head phantom is Y+, and that of the SL phantom is X+.

SL phantom matrix does not seems to match the memory layout described at https://github.com/CERN/T

[2021-04-28 15:23] AnderBiguri commented on #287
Good catch! thanks a lot!

Would you be happy to make a Pull request with your proposed solution?

[2021-04-28 15:52] #287 closed

[2021-05-01 14:29] tsadakane commented on #276
On MATLAB, the result of running
[code]
is
![sl3d](https://user-images.githubusercontent.com/40597344/116785105-b74c0a00-aad2-11eb-8499-f1137bbc4d57.gif)

YYW looks wrong. I think it is because the geometry transform in their code is wrong.
I wrote an python implementation of 3d shepp-logan phantom. https://github.com/tsadakane/sl3d
TIGRE can use it for python.

[2021-05-01 15:11] AnderBiguri commented on #276
@tsadakane  Thanks for raising the issue and thanks for that python repo!

A good way to add this to TIGRE would be a git submodule I believe, but I don't like the fact that this solution would require users to change their git settings or call an extra `git` call to update/download it (people already have enough problems with compiling....).

Another option is to simply copy the code (with the li

[2021-05-04 15:21] lawful02 commented on #284
Sir @AnderBiguri , is this issue still open? If so, I would like to work on this issue.

[2021-05-04 15:51] AnderBiguri commented on #284
@lawful02  not sure if @Ayushsunny is working on it or not, I haven't heard anything that is not written here.

If he does not reply then sure, work on it. There are also some other good first issues that are open to tackle, if you prefer. Its the same to me (in general, you don't need my permission to do anything ;) just make a PR, I will review it and merge it if good).

[2021-05-04 15:58] lawful02 commented on #284
Alright sir, in that case i will wait for @Ayushsunny to reply, while i look into other issues.

[2021-05-05 22:31] Ayushsunny commented on #284
Hello @AnderBiguri Sir,
why you have closed this [PR](https://github.com/CERN/TIGRE/pull/290#event-4690533122) without any review or request changes.?

[2021-05-05 23:51] tsadakane commented on #284
@AnderBiguri

ISO 8601 ("https://www.iso.org/obp/ui/#iso:std:iso:8601:-1:ed-1:v1:en" 3.2.6   Separator symbols )says

“:” (colon) | the “:” colon character, in extended format, separates the time scale components for “hour” and “minute”, and “minute” and “second”.
-- | --
“.” (period), “,” (comma) | the “.” period and “,” comma characters are decimal sign used to separate the integer part from the

[2021-05-06 07:32] AnderBiguri commented on #284
I have my reasons to close it.
Please  @Ayushsunny , make a new PR, with @tsadakane 's suggestions. Also make the text
` "Estimated time until completion:" ` with the new time format.

[2021-05-06 07:37] #285 closed

[2021-05-06 12:43] AnderBiguri commented on #284
@tsadakane Thanks for the suggestion again.

I don't understand well the behavior of these users, its been a bit frustrating.
This issue is currently unsigned, if you want to give it a shot go for it (as you have suggested a very good format :) ).
Otherwise I will do it myself over the weekend, just to close this issue once for all.

[2021-05-06 13:05] tsadakane commented on #284
@AnderBiguri Thank you for your proposal, but unfortunately I am not going to work on this issue. If you allow me to do another suggestion, I think the precision of the prediction is not so high as ms, so H:M:S is enough.

[2021-05-06 13:07] AnderBiguri commented on #284
@tsadakane  agreed! In MATLAB I don't have ms either. I will do it thanks :+1:

[2021-05-08 12:11] AnderBiguri commented on #268
Probably related to #59 .

MATLAB is wrong I think, but I do not know if python is correct!
What we want is to get the dataset that will, in theory, contain the maximum amount of new information. The idea is that you can heuristically assume that the biggest angular distance from the current used projections will be the most different.

However, its not really true, as the view at 180 is very simi

[2021-05-08 12:43] tsadakane commented on #268
Thank you for your quick reply.  I understand. One more quick question. Is `order_subsets` function expected to be used in the case that the angular range is less than $\pi$ radians or not an integer multiple of $\pi$?

[2021-05-09 12:55] tsadakane commented on #268
In the case of `nangles`=8 and the angular range is 180 degrees,
| | | |
|-|-|-|
|0|1|2|
|-|-|3|
|-|-|4|
|-|-|5|
|-|7|6|

I think the expected order is [0, 4, 2, 6, 1, 5, 3, 7].

Modifying the above python code to
[code]
the result was [0, 4, 1, 5, 2, 6, 3, 7].

As for Matlab, modifying the code
[code]
resulted in ``` {[1]}    {[8]}    {[2]}    {[7]}    {[6]}    {[3]}    {[4]}    {[5]}```,
which i

[2021-05-09 13:17] AnderBiguri commented on #268
Order subsets is supposed to be able to be used always yes, not only with integer radians.

Indeed its possible that python is wrong too, if I don't recall wrong this is one of the functions that was left undone due to time, and that is really not that important. This more or less also answers your last question: there is really not a huge impact in the sus est ordering method, and often just rand

[2021-05-09 14:35] AnderBiguri commented on #268
The plot I mentioned (note that this is for 1 dataset, 1 set of angles etc, the results are not generalizable).

This more or less shows that the impact of different subset ordering is very small for SART. I assume for OS-XXXX its even less.

![image](https://user-images.githubusercontent.com/11854388/117575995-051ccf80-b0dc-11eb-918b-22f33328610c.png)

[2021-05-11 12:56] SamJPHarris opened #294 "ImportError: DLL load failed while importing _Ax: The specified module could not be found."
## Expected Behavior
TIGRE has been running fine until this morning when I installed a package that would allow me to call MATLAB functions from within Python. Now when I run code that has worked previously I am met with "ImportError: DLL load failed while importing _Ax: The specified module could not be found"

## Actual Behavior

ImportError: DLL load failed while importing _Ax: The specified mo

[2021-05-11 12:59] AnderBiguri commented on #294
Hum, I have no idea. Let me dig into this further to see if I can find a solution.

Which package did you install?

[2021-05-11 13:03] SamJPHarris commented on #294
I followed the installation instructions on https://uk.mathworks.com/help/matlab/matlab_external/install-the-matlab-engine-for-python.html

[2021-05-11 15:08] AnderBiguri opened #295 "parallel beam code does not clearly error when too much memory is used"
It should check available memory and error if the user asks for too much.

This is a temporary solution, fixing #286 would make this issue, and fix, obsolete

[2021-05-11 16:39] AnderBiguri opened #296 "Projection computational time mismatch"
One would expect that they perform very similarly when called directly. This is indeed true with `Ax()`

For the AMTLAB geometry

`geo=defaultGeometry('nvoxel',[1024 1024 1024],'nDetector',[1024 1024])`
 I can see that `Ax()` takes ~ 9s in both MATLAB and python, yet `Atb()` takes around 6s in MATLAB but closer to 9s in python. This is quite a large difference, yet both use the same CUDA source.

[2021-05-12 21:20] acampbel opened #297 "Consider a cloud CI service"
Given public open source projects have free support for cloud ci services, consider leveraging one of them here. 🎉

https://blogs.mathworks.com/developer/2020/12/15/cloud-ci-services/

[2021-05-12 22:13] AnderBiguri commented on #297
Thanks for coming around @acampbel ! That is a great idea and something that I had in mind for a while, but as usual, time time and time! Your tutorial is fantastic, it definitely puts me in much more pressure to get it done! I will follow it.

Thanks for the suggestion.

[2021-05-12 22:43] acampbel commented on #297
here’s another, also more likely to come :-)

https://blogs.mathworks.com/developer/2021/03/17/coming-around-full-circle/

[2021-05-12 22:46] AnderBiguri commented on #297
@acampbel great! I'll have a read too and keep an eye out. I like circleCI's support of GPU's, quite essential to test TIGRE

[2021-05-15 05:52] tsadakane commented on #296
I modified `_Atb.pyx` as
[code]
to measure the time of BP functions itself. In test.py, `Atb` call is wrapped by the similar tic-toc.
Under the condition of `nSize = 1024` (nVoxel, nDetector) and `nangles=32`,
the result was:
[code]
`Atb` does not consume extra time.
Your first thought seems to be more reasonable.

[2021-05-15 06:02] tsadakane commented on #296
Another experiment is comparison with matlab:
## source
### matlab
[code]
### Python
[code]
## Result
### Matlab
[code]

### python
[code]

## environment
* Windows 10
* CUDA 11.1
* GeForce GTX 1060 6GB x1
* Python 3.8.5 (anaconda)
* Matlab 2021a

[2021-05-15 08:25] tsadakane commented on #296
On another machine, the same test program, `nSize=1024`, `nangles=512`, the result was different...

## Result 2
### Matlab
[code]
### Python
[code]

## environment
* Windows 10
* CUDA 11.1
* GeForce RTX 2080 Ti  (11GB)
* Python 3.8.5 (anaconda)
* Matlab 2021a
* Visual Studio 2019 16.9.4

[2021-05-15 15:24] AnderBiguri commented on #296
thanks a lot for the detailed tests!

This is very confusing. Can you try the same size in both machines? The fact that times are very different between machines makes some sense, as multi-GPU code is kicking when there is not enough RAM to compute it, but its very strange how the matlab and python versions change that much in comparison.
I will also try to run it myselg, on a machine similar to y

[2021-05-16 02:03] tsadakane commented on #296
# Parameters
On Python and matlab,
|  |  1  |  2  |
| ---|---|---|
| Env | 1x GeForce GTX 1060 6GB | 1x GeForce RTX 2080 Ti |
| Param |  nSize=1024. nangles=32 |  nSize=1024. nangles=512 |

Eight conditions in total as below.
The test program was ran twice for each conditions and the results below were of the second one.

# Env 1
## MATLAB
### Param 1
[code]
### Param 2
[code]

## Python
### Param

[2021-05-16 02:36] tsadakane commented on #296
I think nangles=32 case is too small to discuss this issue.
The data below are the same as in the comment above, just param1 data are removed:

# Parameters
On Python and matlab,
|  |  1  |  2  |
| ---|---|---|
| Env | 1x GeForce GTX 1060 6GB | 1x GeForce RTX 2080 Ti |
| Param |  nSize=1024. nangles=32 |  nSize=1024. nangles=512 |

Eight conditions in total as below.
The test program was ran twice

[2021-05-17 16:53] AnderBiguri commented on #296
Note that your experiments are not completely correct, the default geometry in python and MATLAB is not the same (and I shoudl fix that). It does not change much, but its important.
You need to give python the following:

[code]

My own tests:

|  |  1  |  2  |
| ---|---|---|
| Param |  nSize=1024. nangles=32 |  nSize=1024. nangles=512 |

On a AMD 16 cores, Ubuntu 18.04, RTX 2080 Super

## 1

Pyth

[2021-05-17 17:48] AnderBiguri commented on #209
Reopening this because we also need to change the one for `Atb()` to something more sensible, plus change its default value.

[2021-05-18 21:42] Pawelip opened #298 "Load real cone-beam projections to python"
Hello,
I have CT data with a cone-beam tomograph. I have 900 projections with a resolution of 2000x1332 px. I have a problem with loading this data into the toolbox. Can I ask you for an example how to use eg. numpy to create a matrix [x, rotate, y] so that I can use it in ASTRA?

  - Python version: 3.6
  - OS: win 10
  - CUDA version: 11.3

[2021-05-18 21:52] #194 closed

[2021-05-18 21:53] AnderBiguri commented on #298
Hi @Pawelip

Firs thing first: this is the TIGRE repository, not the ASTRA one, are you sure you are in the correct place?

Loading data: depends on your data format, of course.

Generally it tends to be not much harder than googling "how to load PNG numpy". This is the first link I get: https://stackoverflow.com/questions/31386096/importing-png-files-into-numpy/47044303#47044303

I'd need more in

[2021-05-18 22:38] Pawelip commented on #298
Yes, sorry, I am trying to use both toolboxes at the same time and thoughtlessly copied the text because I have the same problem. Data format what I have is 16bit .TIF images.  The data format I have is 16 bit .TIFF images. I have no experience with python so I have a problem with the basics.  So should I use the "np.array" command, and that's it ?

[2021-05-18 22:51] AnderBiguri commented on #298
Ah no worries.

In a similar manner to the previous google search, replacing tiff gives the following: https://stackoverflow.com/questions/7569553/working-with-tiffs-import-export-in-python-using-numpy

Those links have examples on how to convert each image into a `np.array` type. However, you will likely need to write a loop and save each image into a bigger `np.array`, where each slice is an ent

[2021-05-18 23:04] Pawelip commented on #298
Yes, it is a commercial Bruker Skyscan 1172 microtomograph. I have a lot of dataset from it. I will definitely need some tutorials. I used to work a bit in matlab but that was a long time ago.

[2021-05-18 23:11] AnderBiguri commented on #298
Try the data loading techniques there, particularly the NikonDataLoader bit I linked to.
If the Bruker Skyscan produces datasets that are complete (i.e. produces files for projections + angles + geometry of the scanner itself) I am happy to write a loader for it.
If it only produces .tiff files but not the rest, then there is little more to do than:

    folder="your folder with the data"
    whit

[2021-05-20 13:22] SamJPHarris commented on #294
Hi Dr. Biguri,

I think I fixed that problem but now I get another error message only from
trying to import tigre in the anaconda console:

import tigre
Traceback (most recent call last):

  File "<ipython-input-1-f8af9a001cc7>", line 1, in <module>
    import tigre

  File
"C:\Users\Harri2_s\AppData\Roaming\Python\Python37\site-packages\pytigre-2.1.0-py3.7-win-amd64.egg\tigre\__init__.py",
line 4

[2021-05-20 13:27] AnderBiguri commented on #294
Hi @SamJPHarris ,

This seems to be the same error as before?
Interestingly this does not match with what you were saying before, as the error is from python 3.7, not python 3.8.5 (anaconda), according to your folders.
I really don't know how to help, seems that it has to do again with whatever configuration you have in your machine. I have only seen this error on windows when there was something

[2021-05-21 14:23] tsadakane commented on #296
@AnderBiguri

`geometry_default.py` and `defaultGeometry.m` both have those values, but `geo.accuracy`'s were not the same. Python was 0.5 and matlab was 1. Does this affect to `Ax`?

[2021-05-21 14:28] AnderBiguri commented on #296
@tsadakane yes it does! Not the Siddon version, but yes the interpolated one. The above was for Siddon, it should not matter.

[2021-05-21 15:19] AnderBiguri opened #300 "gpuarray supported forward and backprojectors"
I have code from a contributor of TIGRE that allows, for users with the distributed computing toolbox, and for CT images that fit inside the GPU together with the algorithm, to avoid CPU-GPU transfers and to everything in the GPU.

I don't have the physical time to add them to TIGRE, but if someone wants to, happy to share it and give a hand on the design on how to integrate it seamlessly into cur

[2021-05-21 17:26] AnderBiguri opened #301 "ComputeV fails for detector offset"
the 0.9 multiplier in computeV creates ring artifacts in detector offset recons.

Why is that there? I forgot.

[2021-05-22 03:00] yliu88au commented on #301
I think it is there for keeping the back-projection of unity matrix (Vs) does not have zeros. Offset may make this logic fail, hence the artefacts. Should check if geox has correct settings.

[2021-05-22 05:10] tsadakane commented on #296
I could reproduce your results with the following codes. No new info.  `geo.accuracy = 0.5` was used.
I could not observe the extra time of memory unregistration.

# Code
## Matlab
[code]
## Python
[code]
# Result
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
# Summary

## Param1

|     |              | Matlab [s] | Python [s] | Winner |
|-----|--------------|------------|--------

[2021-05-22 10:09] AnderBiguri commented on #301
@yliu88au thanks for the clarification!

I see and that makes sense. I think the better solution is perhaps to increase the size of the detector, instead of shirking the image size. I think that should be enough to make sure there are no zeros, while maintaining the correct pixel value in the V matrix.

[2021-05-22 10:19] AnderBiguri commented on #296
Hi @tsadakane

I've seen you edited the post. Does it mean that we were doing the tests wrong and both are the same?

My unregistered problem seems to be only in this machine, so some particular problem of mine, not the code. That is a relief.

[2021-05-22 10:24] AnderBiguri commented on #301
nah, that does work to remove zeroes, but does not work with offsets.

[2021-05-22 10:32] #301 closed

[2021-05-22 10:32] AnderBiguri commented on #301
Seems that the easy solution was to simply +0.000001 to V with standard geo.

[2021-05-22 10:57] tsadakane commented on #296
@AnderBiguri Sorry for the confusion.

Yes, I believe so.

I think this stems from the difference of the defaultGeo functions between matlab and python as you mentioned.
If nVoxel is given, python updates its nDetector using the value, while matlab leaves it 512.

[2021-05-22 10:59] AnderBiguri commented on #296
@tsadakane yeah that is correct. I should probably fix that.

In any case, this is good news! I will close the issue then.

[2021-05-22 11:00] #296 closed

[2021-05-22 11:24] AnderBiguri commented on #298
Closing this issue, as this is leading to  #299

[2021-05-22 11:24] #298 closed

[2021-05-23 06:51] yliu88au commented on #300
Good move! For python version, I would suggest Cupy (Numpy equivalent) package.

[2021-06-14 12:20] tsadakane commented on #209
@AnderBiguri
Change
[code]
to
[code]
?

[2021-06-14 12:47] AnderBiguri commented on #209
@tsadakane correct. the variable name shoudl be `backprojection_type` and shoudl be able to take FDK and matched, but FDK as default. This also means making sure algorithms use the correct backprojection (matched for FISTA and CGLS, FDK for the rest)

[2021-06-16 12:46] #209 closed

[2021-06-30 07:13] Neilblaze opened #306 "Cmake to install TIGRE"
## Expected Behavior
I'm trying to compile TIGRE via Cmake v3.21.0, but I'm getting few errors on my system. This is the log that I'm getting `CMake Error: Error executing cmake::LoadCache(). Aborting.`

## Specifications

  - MATLAB version: R2021a
  - OS: Windows 10 pro x64 | WSL
  - CUDA version: 11.3.0

[2021-06-30 07:45] AnderBiguri commented on #306
Hi @Neilblaze
There is no Cmake files in Tigre, it is currently not supported for compiling. I am not very sure how you are even calling it to be honest!
Try the instalation instructions

[2021-06-30 07:58] Neilblaze commented on #306
I recently upgraded my CUDA, since then I'm facing some issues during installation, but later found a solution on StackOverflow which didn't work.

@AnderBiguri  I was going through the issues where I found an [issue](https://github.com/CERN/TIGRE/issues/251) where I thought apart from the normal instructions, I could install TIGRE via Cmake. So, I tried running Cmake with the filepath as it's sou

[2021-06-30 08:04] AnderBiguri commented on #306
No, unfortunately that is not right. The issue is there because I want to enable Cmake compilation, but its open because its still not there.

[2021-06-30 08:44] Neilblaze commented on #306
Ah I see. Thanks for the info :)

[2021-06-30 08:44] #306 closed

[2021-06-30 08:46] AnderBiguri commented on #306
No worries. Do let me know if you have any issue compiling the normal way :+1:

[2021-06-30 08:54] Neilblaze commented on #306
@AnderBiguri Sure! I'll. Also, is CUDA mandatory for TIGRE? or is there any bypass method?

[2021-06-30 08:55] AnderBiguri commented on #306
No theres not. The core of the entire toolbox is that it uses GPUs for computing, and this was coded in CUDA.

[2021-06-30 09:12] Neilblaze commented on #306
Ok, let me see if I can resolve the installation issue. If I get stuck at any point, I'll let you know. Thanks again 😄

[2021-07-07 17:18] xiaoxiaobao1992 opened #307 "'conegeometrydefault' object has no attribute 'convert_contig_mode'"
when I ran 'python d03_generatedate.py'
I got the AttributeError: 'conegeometrydefault' object has no attribute 'convert_contig_mode'

  - Python2.7 version:
  - CUDA version: 9.2

[2021-07-07 17:34] #307 closed

[2021-07-07 17:35] AnderBiguri commented on #307
Did you solve your issue then?

[2021-07-08 04:19] xiaoxiaobao1992 commented on #307
No. But it works when switched to Win10.
Thanks for your reply！

[2021-07-16 13:03] Scriptkiddi opened #308 "Python sirt with computel2=True crashes"
In PR #263 in https://github.com/CERN/TIGRE/blob/11c477423505c5473c95ef4334e85646798d775e/Python/tigre/algorithms/iterative_recon_alg.py#L332
Changes
[code]
to
[code]
which leads to the error message below.

in my opinion this change is ?incorrect? because l2l is initialized as a list.

## Expected Behavior
Sirt runs with computel2=True

## Actual Behavior
Crashes with
[code]

## Code to reproduce

[2021-07-17 15:29] AnderBiguri commented on #308
True! I think the best solution would be to initialize as np.array.

[2021-07-20 10:46] tsadakane commented on #300
@AnderBiguri  Is this related to `Collision avoidance trajectories for on-line trajectory optimization in C-arm CBCT` by S. Hatamikia et al. of Fully3D 2021? Just out of curiosity.

[2021-07-20 10:51] AnderBiguri commented on #300
Hi @tsadakane , it is not. In that work, a full C++ implementation was coded, particularly optimized for the size and amount of projections of the application.

The code I have is from Matt Jacobson, I believe it will be presented at:

[2021-07-22 16:19] AnderBiguri opened #310 "Implement Generl separable footprint projectors"
Related #121

Tim Pfeiffer at Fully3D presented a general Separable Footprint projection (Poster 03-02 - Two extensions of the separable footprint forward projector).

I believe this are still not applicable to all geometry, but it could be interesting to have it implemented.

[2021-07-22 16:25] AnderBiguri opened #311 "Add multiple rays per detector option"
Tom Pfeiffer commented at fully3D that one ray per detector may be little in some cases.

Most of the times I had simpy made a bigger detector via interpolation before using TIGRE, but I think it would make sense to remove this from the user and add it as a geo parameter (e.g. `geo.rays_per_pixel`), and let TIGRE handle this.

It should be "fairly" easy to do it in the entry points of CUDA, either

[2021-07-23 09:17] AnderBiguri opened #312 "Implement FDK filtering on GPU"
Suprising I don't have an issue for this:

FDK filtering is slow now because its done in the CPU (and does some ugly transposes).
We should just accelerate this, it makes no sense to have such a slow version of FDK.

Note: Not all FFT libraries in GPU/CPU are compatible with BSD license.

[2021-07-23 13:04] tsadakane commented on #312
Use cuFFT?

[2021-07-23 13:09] AnderBiguri commented on #312
Sounds good actually.

[2021-08-10 09:44] tsadakane commented on #282
Quick question. The existing keyword is `regularisation`. Which name is appropriate, `regularisation.py` or `regularization.py`?

[2021-08-10 11:30] AnderBiguri commented on #282
ahh well, english vs american spelling. I like the one with `s` more, but I guess that is because I am in Europe!

[2021-08-10 13:54] tsadakane commented on #282
Understood.

What do you think about introducing `regulariser` class?  The `regularisation.py` would be like
[code]
and
an algorithm object can have a member variable `self.regulariser` and calls `minimize()` from  `run_main_iter()` if `self.regulariser is not None`.
Some of the arguments of algorithm's __init__(), such as `nitertv` should be moved to regulariser.
You don't have to modify `Iterati

[2021-08-10 13:56] tsadakane commented on #282
Oh, `minimize` => `minimise`   :-P

[2021-08-10 14:37] AnderBiguri commented on #282
It does sound good actually.

I worry about about naming, not sure what I prefer. "regularisation" is a bit general, and the TV minimizer in `minTV` is not necessarily the only way to regularize an algorithm with TV... `minTV` just decreases with steepest descend the TV. However, other TV minimization uses proximals, and other math. The same with AwTV. So perhaps I prefer to leave those names as t

[2021-08-14 17:12] ghan7213 opened #315 "Tomosynthesis"
Would you modify it to work the code for breast tomosynthesis?

[2021-08-16 07:59] AnderBiguri commented on #315
Hi @ghan7213 , with careful tuning of the TIGRE geometry, it already works for breast tomosynthesis. I suggest having a look at the demos, there is one specially for digital breast tomosynthesis (DBT).

[2021-08-16 08:01] #308 closed

[2021-08-16 08:02] #281 closed

[2021-08-16 09:30] AnderBiguri opened #317 "Add list of papers that use TIGRE"
Somewhere in the frontispiece. Also edit Readme on how to submit yours.

This would help TIGRE, but I believe would also help a lot the researchers that use it, to have more exposure to their work.

[2021-08-17 04:02] tsadakane opened #318 "d04_SimpleReconstruction.m stops in computeV"
## Actual Behavior
d04_SimpleReconstruction.m stops in computeV

https://github.com/CERN/TIGRE/blob/568e6c4c0e796741c6947ff91c97fdf7e732cb69/MATLAB/Utilities/computeV.m#L12

[code]

## Code to reproduce the problem (If applicable)

d04_SimpleReconstruction.m

## Specifications

  - MATLAB version: R2016a
  - OS: Windows 10
  - CUDA version: 11.1

[2021-08-17 07:23] AnderBiguri commented on #318
Hi!
Albeit there was a bug on master introduced on a PR this week (just fixed it), I can not reproduce this issue. It works well on my side. Are you sure you don't have a modified file?
Which python version are you using?

[2021-08-17 13:35] tsadakane commented on #318
@AnderBiguri  Hi. I tested on a fresh workspace of `2a5d3962e1c09b0f2d6784f3c2bd7b6b85fa7d0b`.
It occurred on Matlab R2016a+VS2015, but not on Matlab R2021a+VS2019.
The results were the same in the case of `568e6c4c0e796741c6947ff91c97fdf7e732cb69`.

[2021-08-17 13:41] AnderBiguri commented on #318
I think on MATLAB R2016b they introduced implicit array expansion (before, you'd do this with `bsxfun`),

However, that is weird, because that line has no need for that, so maybe it should read ` maxsize=max(auxgeo.sVoxel+geo.offOrigin(:,auxindex).',[],2);` ?

[2021-08-17 13:51] tsadakane commented on #318
Adding
[code]
before
https://github.com/CERN/TIGRE/blob/2a5d3962e1c09b0f2d6784f3c2bd7b6b85fa7d0b/MATLAB/Utilities/computeV.m#L12
resulted in
[code]

BTW, `maxsize` does not seem to be used in this function. I think this line can be commented out.

[2021-08-17 13:53] AnderBiguri commented on #318
Ah, that is right. In MATLAB 2016b or bigger, it would add every 3x1 to each 3x1 slice of the 3x30 array. In previous versions, this would require `bsxfun` or `repmat`. But I agree, if its not used, comment it out. Can you do it (as you can test it from your side)?

[2021-08-17 14:30] AnderBiguri commented on #318
Thanks @tsadakane , greatly appreciated your efforts!

[2021-08-17 14:30] #318 closed

[2021-08-19 14:50] AnderBiguri commented on #315
I will close this issue @ghan7213 , but do not hesitate to reopen or email me if you have questions.

[2021-08-19 14:50] #315 closed

[2021-08-24 01:40] leekunpeng opened #321 "Inaccurate description of addCTNoise function parameters"
## Expected Behavior
![image](https://user-images.githubusercontent.com/61607176/130541395-74db6d44-a27c-42e5-9c12-6be4a1d41573.png)

The two parameters for adding Gaussian noise are the mean and the standard deviation, but in fact the variance is used in the program.
## Actual Behavior
![image](https://user-images.githubusercontent.com/61607176/130541665-948f90b3-2b9e-4230-8ffb-a292be1d5f40.png)

[2021-08-25 13:49] tsadakane commented on #321
Indeed.
As described in https://www.mathworks.com/help/images/ref/imnoise.html
the `imnoise` function interprets the argument at the position as the variance of the output.

If the Image Processing Toolbox is not installed and the Statitics Toolbox is installed,
https://github.com/CERN/TIGRE/blob/7e761f505e3c156a816d77fcc8570333a8ed528d/MATLAB/Utilities/addCTnoise.m#L102
is used. Is this line acce

[2021-08-30 07:05] cherryandmoon opened #323 "error message in linux"
## Expected Behavior

The function Recon =OS_ASD_POCS(proj,geo,angles,iters); is not working.

## Actual Behavior

Unrecognized function or variable 'getGpuCount_mex'.

Error in GpuIds (line 21)
                deviceCount = getGpuCount_mex();

Error in FDK>parse_inputs (line 245)
                gpuids = GpuIds();

Error in FDK (line 41)
[filter,parker,dowang,gpuids]=parse_inputs(proj,geo,angles,

[2021-08-30 07:10] #323 closed

[2021-08-30 18:13] AnderBiguri opened #324 "Error when execute CUDA kernel function"
### Discussed in https://github.com/CERN/TIGRE/discussions/322

<div type='discussions-op-text'>

<sup>Originally posted by **jaegon-kim-77** August 26, 2021</sup>
Hello. My name is Jaegon Kim.

Last few weeks I have tried build and execute TIGRE toolkit on Matlab. My environment is like follow.
- Window 10 x64
- Matlab 2016b
- CUDA 9.2
- RTX 3060 (12GB global memory, 8.6 of CUDA compute capabilit

[2021-08-30 18:14] AnderBiguri commented on #324
Hi

[2021-08-30 18:14] #324 closed

[2021-09-02 14:44] #321 closed

[2021-09-07 14:23] tsadakane opened #325 "d08_Algorithms03.py stops"
## Expected Behavior
`d08_Algorithms03.py` stops

## Actual Behavior
[code]

Adding the following lines just above the line stopped
[code]
resulted in
[code]

## Code to reproduce the problem (If applicable)

`d08_Algorithms03.py`

## Specifications

  - Python version: 3.8.10 (anaconda)
  - OS: Windows 10
  - CUDA version: CUDA 11.2

[2021-09-07 14:25] AnderBiguri commented on #325
perhaps related to #309

[2021-09-08 14:42] tsadakane commented on #325
I think the two line modified at #309
https://github.com/CERN/TIGRE/blob/a67bd964e7b0a5d70dc405ccf8fc24e3bfd86dea/Python/tigre/algorithms/iterative_recon_alg.py#L212-L213

can be removed, because `self.lq` and `self.l2l` are initialized just above the two lines as numpy ndarray's . `d08_Algorithms03.py`  ran without error when they are removed.

[2021-09-09 05:39] russellwoo1995 opened #326 "MATLAB\Demos\SophiaBeads_demo.m"
## Expected Behavior

## Actual Behavior

## Code to reproduce the problem (If applicable)

[code]

## Specifications

  - MATLAB version: 2018b
  - OS: windows
  - CUDA version: 9.2

[2021-09-09 06:20] #326 closed

[2021-09-09 16:24] #325 closed

[2021-09-23 10:31] AnderBiguri opened #332 "Add optional parameter to algorithms: Image to compute quality measurements against, per iteration"
As the title says, this would be a parameter that allows the quality measurement parameters to be computed against a known image, rather than change per iteration.

Something like:

`[img, qual] = SIRT(proj,geo,angles, 'QualMeas','RMSE','ground_truth',my_image)`

[2021-10-01 08:54] #294 closed

[2021-10-08 13:37] AnderBiguri opened #334 "Serious bug on parallel beam projections"
## Actual Behavior
Stripe artefacts appear in the recon

![untitled](https://user-images.githubusercontent.com/11854388/136566561-40a409b6-9328-48e8-8b1f-a44c29bbe9c6.png)

I suspect it is some numerical issue. I recommend using a large DSD/DSO for now, or slightly offseting your angles.

## Code to reproduce the problem (If applicable)

[code]

[2021-10-10 06:01] tsadakane commented on #334
The first and last lines are added.
[code]
I ran this program several times and found that the result images (img(;,;,70)) are different randomly. The stripe did not always appear.

1. appered..
![result_ng](https://user-images.githubusercontent.com/40597344/136684333-fce80b2f-be8f-4cef-a2e8-e33f98368783.png)

2. not appeared
![result](https://user-images.githubusercontent.com/40597344/136684342-8

[2021-10-10 15:43] AnderBiguri commented on #334
Thanks @tsadakane for testing!

I suspect this may have to do with a missing memset, due to its erratic behaviour. Its likely that here a cudamemset is missing and that adding it would fix the problem. Will try when I have access to my computer:

https://github.com/CERN/TIGRE/blob/master/Common/CUDA/Siddon_projection_parallel.cu#L281

[2021-10-18 14:39] AnderBiguri opened #335 "FDK weights minor bug"
A user reported that these weigths:

https://github.com/CERN/TIGRE/blob/1571e3296c2351163b281b5f242440f6ddcf2465/Common/CUDA/voxel_backprojection.cu#L244-L245

should be instead (note the minus):

[code]

And I think that is correct. Re-check, but fix if needed.

[2021-10-20 15:13] tsadakane commented on #268
@AnderBiguri , Thank you for your comment. I was putting this file in the "utilities" folder, but if we create "visualization" in it, I think it is better and we can move `plot_geometry.py` to the same folder.

BTW, this is another possibility of randomized subsets (`blocksize=2` of `random2`):
![ordered_subsets_2PI_nangles_15_blocksize_2_mode_random2](https://user-images.githubusercontent.com/405

[2021-10-21 12:49] blauyang opened #336 "Detector offsets do not act on the projection"
## Expected Behavior
 The reconstruction I'm doing requires an detector-offset of about 500 pixels in the u v direction respectively, and I've looked carefully at demo14 in the toolbox,

## Actual Behavior
 but no matter how much the offset is changed in my program, the position of the image on the detector never changes.

## Code to reproduce the problem (If applicable)
close; clear all;
%% Geome

[2021-10-22 03:33] JingYao0512 opened #337 "Tomosynthesis - reconstuction rotation issue"
## Expected Behavior
The reconstruction object should be located in same place.

## Actual Behavior

- The SID (DSD) is 97 cm.
- The maximum thickness of hand phantom is 6 cm.
- The object is directly placed on the detector.
- The reconstruction object will rotate with increasing depth.  The following GIF image is reconstructed result.
(The reconstructed images are cropped to 500x400 resolution)
!

[2021-11-01 09:25] JingYao0512 commented on #337
@AnderBiguri
Thanks for your response. Do you mean the geo.offDetector which angle is negative?
I don't have a commercial DBT, so I can't compare it.

I will try to check the angle issue to see whether improve the image quality or not.
Thank you!

[2021-11-01 09:44] AnderBiguri commented on #337
Hi @JingYao0512 , I meant `angles=-angles;`. A really really common error is giving TIGRE the angles in the opposite direction. in DBT its really hard to know if there is such mistake by looking at the image, as the images tend to look bad anyway. So double and triple check the geometry!

[2021-11-01 09:45] #336 closed

[2021-11-05 02:12] wahaj commented on #332
Can I get on this ? Would help me to wrap my head around the project. It seems that the init options argument  supports providing an image, do you want to seperate that from `opt` and make it a separate argument ?
`%   'Init':        Describes diferent initialization techniques.
%                  'none'     : Initializes the image to zeros (default)
%                  'FDK'      : intializes imag

[2021-11-05 09:38] AnderBiguri commented on #332
Hi @wahaj , absolutely, all yours ;)

I think the best way would be to have a separate argument. Mostly because it should be possible to have both, an image to initialize your algorithm with and an image to compare your results to, and those images be different.

I suggest calling this new argument `'ground_truth'`, or something like that. Perhaps we could also throw an warning if the user has not

[2021-11-12 12:40] blauyang opened #343 "Error in running Compile.m"
## Expected Behavior
By opening MATLAB on myTIGREpath/MATLAB, execute Compile.m

## Actual Behavior
Run the Compile.m with the following error. I have renamed mex_CUDA_win64_MVS2015.xml to mex_CUDA_win64.xml.  But I don't know why it still shows that the xml file cannot be found. I did all steps 1-6 of the installation tutorial and there were no errors.

In addition, although I downloaded cuda9.2

[2021-11-12 12:46] AnderBiguri commented on #343
When you run Compile.m, you need MATLAB to be in the TIGRE folder, i.e. in `D:\Tigre\TIGRE-master\MATLAB`. Are you running the code from there, or are you just adding all to path, then compiling from somewhere else? Looking at your MATLAB folders there, it looks like you are compiling from somewhere else.

[2021-11-12 13:02] blauyang commented on #343
Hi @AnderBiguri ，
Wow, it worked, I should have come to ask you earlier. I also spent a day resetting my computer as well as installing various software. Thank you so much!
Also can you answer my other question, I'm not sure if I'm using CUDA 9.2 or not, because the tigre toolkit requires cuda 9.2 or higher, and now my tigre is running successfully, does that mean anything?

[2021-11-12 13:05] AnderBiguri commented on #343
You must be using CUDA 9.2 (newer also works, that is the minimum requirement) . Try demo 3, if that works, then you are good to go ;)

[2021-11-12 13:22] #343 closed

[2021-11-12 13:28] blauyang commented on #343
it works! thanks again!

[2021-11-15 18:39] blauyang opened #345 "Flip after projection loading and ring artefacts"
## Expected Behavior
I would like to keep the projection image in its original coordinates once it has been loaded into the toolkit

## Actual Behavior

The top figure shows the single original projection and the bottom figure shows the projection obtained by using plotProj().

![original-projections](https://user-images.githubusercontent.com/87274625/141835593-5bb6872f-55f7-4271-b6a3-fe7960af1b62

[2021-11-15 18:51] AnderBiguri commented on #345
This is unrelated to TIGRE, and related to how images are visualized in MATLAB.

Your first image is the same as TIGRE one, except that in matlab, if you do `imshow`, the 0,0 point is in the top left corner, not bottom right. The only difference between the two is visualization.
It also may be a difference between what your compercial CT considers the positive Z axis and what TIGRE considers the p

[2021-11-15 18:52] AnderBiguri commented on #345
About the ring artifacts: can you show a higher resolution image? It all looks like expected artifacts, TIGRE has no function to reduce ring artifacts (in fact this is often done in acquisition rather than post-processing), so if there are artifacts its likely they are in the data.

[2021-11-15 19:34] blauyang commented on #345
Hi @AnderBiguri,
Thank you for your quick and detailed answer. I will go and flip them.

About the ring artifacts, For the same projection I also used the Astra toolkit to reconstruct it, but no ring artifacts appeared.

![Astra_XYZ](https://user-images.githubusercontent.com/87274625/141842785-df30eb02-c5b7-4b5d-9818-46ca172ab892.PNG)

By high resolution image do you mean the original projection i

[2021-11-15 19:38] AnderBiguri commented on #345
No, I meant a high resolution image of the result with the artifacts. The images are too small and I can't honestly see what you mean, or any difference.

[2021-11-15 19:44] blauyang commented on #345
Hallo @AnderBiguri ,
By ring artefact I mean this shiny circle that surrounds the outside of the workpiece.

![Tigre_Z_slice128-1](https://user-images.githubusercontent.com/87274625/141843895-3a20215d-5f6b-4308-82b7-a3cd85ab7386.PNG)

[2021-11-15 19:50] AnderBiguri commented on #345
That is normal in FDK. Most people just crop it with a circular mask.

Note: ring artifacts are a very specific artifact type in CT, that look like this:

![image](https://user-images.githubusercontent.com/11854388/141844820-0ac4884b-fb6d-432a-8896-306033404510.png)

This is why I could not see them.

[2021-11-15 20:07] blauyang commented on #345
Sorry for my incorrect use of technical words. I got it. Thank you again for your answer.

[2021-11-15 20:11] AnderBiguri commented on #345
No worries :) I was just clarifying for the future! we all learn at some point!

[2021-11-15 20:11] #345 closed

[2021-11-23 13:20] AnderBiguri opened #348 "Add MVS 2022 Support"
related #347

[2021-11-30 19:26] alpxpatx opened #349 "unable to run tigre demos on windows 10 following windows installation documentation given in doc"
## Code to reproduce the problem (If applicable) running following on windows 10 cmd line

C:\Users\Admin\TIGRE\Python\demos>python d01_CreateGeometry.py

output
Traceback (most recent call last):
  File "d01_CreateGeometry.py", line 25, in <module>
    import tigre
  File "C:\Users\Admin\AppData\Roaming\Python\Python38\site-packages\pytigre-2.1.0-py3.8-win-amd64.egg\tigre\__init__.py", line 4, in

[2021-12-01 13:04] AnderBiguri commented on #349
#247

It seems that there is something for python 3.8 and 3.9 that makes it not work on Windows. I am sure there is something in the `setup.py` that can be changed to fix this, but I honestly don't know how to.
My suggestions: install a python virtual environment for python 3.7 and get TIGRE there.

Or if you have any idea how to fix this, do let me know!

[2021-12-06 07:17] yliu88au opened #351 "Allow different delta values (dx, dy, dz) for "Adaptive Weighted" algorithms?"
Currently, all version of "AW" algorithms have the same "delta" parameter controls the adaptive weight exp( -(xi-xj)^2/ delta) for all (x, y, z) directions. I can see the need to specify different "deltas" when the x, y, z axis have different resolutions (for example, some tomosynthesis situations). Could we make changes to allow this? We could allow delta to be either a scalar (likely current sit

[2021-12-06 13:12] AnderBiguri commented on #351
This should be trivial to add, as the CUDA code already is prepared for this for SART-TV, I just don't pass the parameters.

For the rest, the same change would need to be added, i.e. when computing gradients, divide by voxel size:
https://github.com/CERN/TIGRE/blob/master/Common/CUDA/tvdenoising.cu#L112

Just e.g. here:
https://github.com/CERN/TIGRE/blob/master/Common/CUDA/POCS_TV.cu#L105

The mo

[2021-12-07 10:11] yliu88au commented on #280
Will this function work?

[staticDetectorGeo.zip](https://github.com/CERN/TIGRE/files/7667433/staticDetectorGeo.zip)

[2021-12-07 13:11] AnderBiguri commented on #280
@yliu88au  yes it should. I have no way of validating it, have you tried it with DBT data?

[2021-12-08 00:14] yliu88au commented on #280
I have only tested it on a simulated case of tomosynthesis (construct an image, then projecting and reconstruction), it all makes sense. But it is still not the real data.

[2021-12-08 12:07] AnderBiguri commented on #280
@yliu88au  if you simulated it outside TIGRE, then that is good enough! want to make a PR?

[2021-12-22 14:23] gfardell opened #353 "Interpolation forward projector clips at detector"
If the detector is configured inside the reconstruction volume (i.e. at the origin) the interpolation forward projector appears to clip at the detector rather than extending through the reconstruction volume.

This happens in both cone and parallel beam with the detector at the origin. The difference in output values can easily be compared to the Siddon projector results.

[2021-12-22 15:59] AnderBiguri commented on #353
Hum, isn't this expected behaviour? The rays stop at the detector, whatever happens after it its never going to be detected right?

Or I am understanding it wrong?

[2021-12-22 17:09] gfardell commented on #353
Physically yes (if you could put the detector in the object), but in terms of the meta-data parallel beam configuration often leave the detector at the origin as moving it doesn't change the magnification. And some cone-beam meta data will have the detector at the origin and effective pixel size is then the same as voxel size.

I guess I was caught out because your Siddon fp and backprojectors see

[2021-12-23 10:38] AnderBiguri commented on #353
TIGRE expected behaviour is that the geometry is physically correct, so if you put the detector inside the VOI it becomes "unexpected  behaviour".  The only reason Siddon works is because the algorithm iterates until the last slice, rather than the detector.

In nay case, I am more in favour on deciding that Siddon does this wrong rather than the interpolated one, as there is no physical way that

[2021-12-23 10:38] #353 closed

[2022-01-27 13:31] AnderBiguri opened #355 "Tiny symmetry mismatch, unsure where it comes from."
## Expected Behavior

Projections of a symetric phantom need to produce a symetric projection (for certain geometries)

## Actual Behavior

A tiny tiny tiny numerical offset exists. Much smaller than half of a pixel.

## Code to reproduce the problem (If applicable)

[code]

[2022-01-30 13:36] tsadakane commented on #348
Hi,

CUDA 11.6 released. It supports VS2022.
* https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html
   * The cudaDeviceSynchronize() function used for on-device fork/join parallelism is deprecated...
   * CUDA 11.6 officially supports the latest VS2022 as host compiler.

I tried...

As for python, the package was build successfully and `example.py` seemed to work.

As for Matlab, `>>

[2022-01-30 14:30] AnderBiguri commented on #348
Fantastik @tsadakane . This would need indeed a change in MATLAB. Even if mex seems not to support it, a correct xml file may make it work.

[2022-02-01 12:52] AnderBiguri commented on #355
A better code to reproduce it:

[code]

It could be numerical error, but it kinda looks like a numerical error shifted in one direction. Still unsure where this comes from....

[2022-02-02 18:27] gulfam7 commented on #140
Where can I find the xml file?

[2022-02-02 22:02] AnderBiguri commented on #140
@gulfam7 https://github.com/CERN/TIGRE/tree/master/MATLAB

[2022-02-04 15:20] tsadakane commented on #348
Modifying the XML file to specify 2022 as the c++ compiler used by nvcc was straight forward. ([15.0, 16.0) => [16.0, 17.0) ).

But, there is another issue.
It seems that mex searches for `cl` (vc compiler) if the file list only includes `.cpp` files. If vs2019 is installed too, no problem. but if only vs2022 was installed, it fails. Adding a dummy `.cu` file solves this problem:
[code]
Of course,

[2022-02-04 16:20] AnderBiguri commented on #348
I'd say go for it. Its ugly, but so is the way nvcc and mex search for compilers, so I'd say if it works, its fine!

[2022-02-16 12:18] AnderBiguri commented on #355
@yliu88au no, not at all unfortunately. #335 is just a weight, while this mismatch is much smaller, yet it happens in the forward proejction, so its not weighted. I think its numerical errors, but not sure.

[2022-03-06 05:32] yliu88au commented on #355
For python version, there are some compilation warning for projection.cpp:
"projection.cpp
../Common/CUDA/projection.cpp(15): warning C4244: 'return': conversion from 'double' to 'float', possible loss of data
../Common/CUDA/projection.cpp(26): warning C4244: '=': conversion from 'double' to 'float', possible loss of data
../Common/CUDA/projection.cpp(30): warning C4244: '=': conversion from 'doub

[2022-03-06 20:39] AnderBiguri commented on #355
@yliu88au no still not. In theory all the code should work with floats. But perhaps that makes all create this numerical error. I guess a test that I should carry is to recompile the entire projector with doubles, and see if the effect is still there. That would, in theory, discriminate if the cause is numerical errors or an actual bug.

[2022-03-07 13:18] AnderBiguri opened #359 "Add useful geometry utilities"
- [ ] `change_resolution()`  #% For a given geometry, returns a lower resolution version of it. For FDK only image needs to be changed, but for interatives also the projections, maybe this function can also resample your projections?
- [ ] `compute_voxel_size()` #% Voxel sizes of a real dataset should generally be geo.dVoxel=geo.dDetector*geo.DSO/geo.DSD; Maybe we can have a function to do so, suc

[2022-03-25 15:51] AnderBiguri commented on #348
Fantastic! Good to know!

[2022-03-25 15:51] #348 closed

[2022-03-30 08:09] broooooot commented on #349
Hi there,

are there any news on this topic? Unfortunately, I have the same problem. Tigre runs fine with Python 3.7, but using 3.8, 3.9 or 3.10 compiling works fine, but the import fails with the following message:

`Python 3.9.12 | packaged by conda-forge | (main, Mar 24 2022, 23:17:03) [MSC v.1929 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

T

[2022-03-30 08:52] AnderBiguri commented on #349
Hi @broooooot ,

Unfortunately my python is not good enough to know why this is happening. It seems like when compiled with python 3.8 or higher, the compiled object (DLL) is not found anymore when trying to run the code. This means that something in Setup.py doesn't really work well, but I have no idea what.
Let me dig a bit to see if I can fix that....

[2022-03-30 09:22] AnderBiguri commented on #349
@broooooot  try `pip install .`

Alternatively, I think it works well in a conda enviroment, but I have not tried it myself.

[2022-03-30 10:43] AnderBiguri commented on #349
Hint to fix:

https://docs.python.org/3.8/library/os.html#os.add_dll_directory

https://docs.python.org/3.8/whatsnew/3.8.html#bpo-36085-whatsnew

Can't try now, but it seems that we may need to explicitly load the dlls somewhere in the `__init__`

[2022-03-30 12:14] broooooot commented on #349
Hi @AnderBiguri  and thank you for your response,

I will have a look into that matter and try to figure something out. Actually, I am using a conda environment but for some reason I am not able to use `pip install .` because then the installer can't find `Cython`, though of course it is installed in the environment. Instead, I'm installing TIGRE via `python setup.py install` which works. Maybe th

[2022-04-05 09:07] HIROJAPAN opened #362 "Ring artifact caused by detector offset in the iterative reconstruction"
I tried iterative reconstruction when the detector was offset using the TIGRE sample data.

The previous question said that wang weighting is not necessary for iterative reconstruction.
 #151
However, with some reconstruction methods, ring artifacts have emerged.
It seems that ring artifacts also appear in the iterative reconstrcution.
Does this cause the same problem in some iterative reconstruct

[2022-04-05 09:18] AnderBiguri commented on #362
Hm, this is not caused by the weigths no, otherwise you'd see a "bump" of differentt value, not ring artifacts....

This may be caused by the matrix `V` and `W` in SIRT/SART, but its also in CGLS, which is weird.

Let me investigate....

[2022-04-09 04:21] JMLiu-SEU opened #363 "artifacts appeared using simple fdk"
## Expected Behavior
I made an ideal spherical shell phantom (3D tomography) and using Ax to generate projections and use FDK to reconstruct.
the geometry are set to fixed ratio of default geometry and the geo.accuracy is set to 0.5. the num of projs are 400, I think is sufficient for fdk.

## Actual Behavior
The reconstructed images are added two paralleal streak artifacts compared with phantom I

[2022-04-09 04:28] JMLiu-SEU commented on #363
![image](https://user-images.githubusercontent.com/59131320/162556251-0834bbf4-a547-42ad-bbb2-157512412eff.png)
the left side and right side are two parallel artifacts
more explicit if adjust the window level

[2022-04-12 11:09] AnderBiguri commented on #363
`anlges=linspace(0,2*pi,400)` repeats 1 angle (0==2*pi) so you got extra artefacts in that direction.
If you just make `angles=linspace(0,2*pi,401);angles(end)=[]` or the equivalent `angles=linspace(0,2*pi-2*pi/400,400);` they go away.

[2022-04-12 11:09] #363 closed

[2022-04-13 15:27] JMLiu-SEU commented on #363
thankyou so much

[2022-04-30 21:06] justingm opened #365 "Index error"
Hi!

I am trying to reconstruct my own data using TIGRE. I am sure this is just due to my ignorance but I am getting the following error

IndexError: index 2 is out of bounds for axis 0 with size 2
Exception ignored in: 'tigre.utilities.cuda_interface._types.convert_to_c_geometry'
Traceback (most recent call last):
  File "/home/justin/.local/lib/python3.8/site-packages/pytigre-2.2.0-py3.8-linux-x

[2022-05-01 11:48] justingm commented on #365
Please ignore my previous post. I managed to find out what was causing the error. I just mistyped one the parameters.

I do have another problem. I was able to reconstruct my CT but I am seeing weird artifacts. Here's a comparison of the reconstructed image from TIGRE and the vendor software. In TIGRE, there seems to be some sort of shadow around the rods.

![image](https://user-images.githubuserc

[2022-05-02 08:41] AnderBiguri commented on #365
Glad that you found a fix!

For your current issue, it seems that you are likely using a machine with a rotating stage, instead of a rotating source-detector. Your artifacts look exactly like geo.cor artifacts, caused by a shift on the center of rotation. Unfortunately as for now, TIGRE does not have an a utomatic COR detection capability, so you will need to manually input it. I suggest having a

[2022-05-03 07:09] justingm commented on #365
Hello Ander,

You are right. The geo.cor did the trick!
I have another question though. Is TIGRE capable of reconstructing the image by parts? I guess I can also just do that by myself and just stitch it afterwards. Although I am not sure if it is that straightforward.

[2022-05-03 09:08] AnderBiguri commented on #365
@justingm Well, depends what you mean by parts! In cone beam CT, the problem is only divisible by upper and lower half, the rest is all (mostly) coupled, i.e. you need the entire upper half of the projection data to reconstruct any slice of the upper half of the image.

In any case, yes you can do it. Just give the correct image/projection offset and sizes. For example, for COR estimations, I tend

[2022-05-03 09:08] #365 closed

[2022-05-03 09:46] justingm commented on #365
I wanted to reconstruct it at the highest resolution but due to memory issues, I couldn't, so I was thinking of splitting it to smaller volumes and just stitching the reconstructed image afterwards. Anyway, I will look at the demos and see if I can work it out. Thanks!

[2022-05-03 09:50] AnderBiguri commented on #365
@justingm ah yes. You can always reconstruct some center slices, or as I said, top half and bottom half. But you can not split the rest much more unless you have a very very high DSD/DSO values, such that the cone is closer to a parallel beam. Its all a bit of geometry I guess.

[2022-05-17 16:53] AnderBiguri opened #366 "Better CLGS (or Krylov methods)"
I've been made aware of better versions of Kryolv methods like CGLS, hybrid CGLS etc, that could be quite interesting to add.

[2022-05-17 19:14] malenasabate commented on #366
(hybrid, flexible) LSQR, maybe IRN

[2022-05-25 15:09] grupesh opened #371 "offset weighting issue in FDK & other iterative algorithms (MATLAB)"
the detector offset value used in preweighting2 function in FDK function appears to be incorrect.
for a dataset collected with offset detector, I applied our proprietary FDK algorithm (left), default TIGRE FDK (middle) and fixed TIGRE FDK (right) -- see below

![image](https://user-images.githubusercontent.com/61022872/170294267-d85f6edc-581b-441e-a622-031b319bc1ae.png)

Please notice that under-w

[2022-05-25 15:16] AnderBiguri commented on #371
Hi @grupesh ,

let me investigate this.... Can you share the geometry definition of your system, please?
In iterative algorithms, there is no need for offset weighting. I have myself used iterative algorithms with a detector offset successfully for years. CGLS is a special case, due to its matehmatics, but the offsets are not removed with weigths. Can you give me more information with actual code

[2022-05-31 13:47] AnderBiguri opened #372 "Try Dykstra instead of POCS."
Dykstra seems to be a quicker converging POCS algorithms. We don't use POCS per se, we use ASD-POCS, but we may be able to modify it reliably to [Dykstra](https://en.wikipedia.org/wiki/Dykstra%27s_projection_algorithm).

Search for papers on this (have not found any). Maybe this is a paper on itself, please do contact me in my private email if you want to help work on this.

[2022-06-14 10:43] AnderBiguri opened #373 "Add data redundancy tests to iterative algorithms"
While in theory not needed, some papers have proposed adding them and show better results. We should do the same and add them as an optional parameter.

https://iopscience.iop.org/article/10.1088/1361-6560/ac16bc

https://ieeexplore.ieee.org/document/5874179

https://iopscience.iop.org/article/10.1088/0031-9155/58/2/205

[2022-06-14 10:44] AnderBiguri commented on #362
@HIROJAPAN I am still looking at this. In practice, wang weigths are not necesary, but some recent papers do propose using them.
In MATLAB (for a similar, but not exactly the same geometry) I see artifacts disapearing after many iterations, which more or less makes sense. #373 discusses this

[2022-06-14 10:47] AnderBiguri commented on #355
This seems to come from floating point arithmetics. Someone proposed a way to solve it:

In the geometric transform code of the GPU, do not translate directional vectors, only rotate them. It seems to mitigate most of the numerical issues.

[2022-06-14 10:48] AnderBiguri commented on #349
Closing this from lack of response, but feel free to reopen it if you still have this issues.

[2022-06-14 10:48] #349 closed

[2022-06-14 10:55] #335 closed, assigned to nobody

[2022-06-14 10:56] AnderBiguri commented on #337
Closing from lack of response, but feel free to open again if you have issues.

[2022-06-14 10:56] #337 closed

[2022-06-16 09:42] AnderBiguri opened #374 "Spot drift geo transforms"
A drift in the spot location (source) can be descirbed using the available geometry parameters, however, it requires some transforms.

It would be nice to have a function    ` geo=spot_drift(geo,drift)` in which the function will change the geometry accordingly for you given a drift.

[2022-06-16 15:23] LEECHAN96 opened #375 "d01_CreateGeometry.py raises an AttributeError: 'Arrow3D' object has no attribute 'do_3d_projection'"
## Expected Behavior
Create geometry and show it

## Actual Behavior
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\envs\torch\lib\site-packages\matplotlib\backends\backend_qt.py", line 477, in _draw_idle
    self.draw()
  File "C:\ProgramData\Anaconda3\envs\torch\lib\site-packages\matplotlib\backends\backend_agg.py", line 436, in draw
    self.figure.draw(self.renderer)
  Fil

[2022-06-16 16:17] AnderBiguri commented on #375
I heard that there are some plotting errors in new python versions and conda enviroments. I admitedly have no idea where this comes from or how to solve it!

[2022-06-17 03:40] LEECHAN96 commented on #375
Thank you very much for your reply, I will test other demos first.

[2022-06-22 13:59] tsadakane commented on #375
FYI. In my environment,

| Python | matplotlib | Building TIGRE |  d01  |
|--------|------------|-------|-------|
| 3.8.10 | 3.3.4      | OK    |  OK   |
| 3.9.12 | 3.4.3      | OK    |  OK   |
| 3.10.4 | 3.5.1      | NG    | --    |

| | |
|------|---------------------|
| OS   | Windows 10 Pro 21H2  |
| CUDA | 11.6                 |
| GPU  | GTX 1060 6GB         |
| MSVS | 2022 (17.1.1)        |

[2022-06-22 14:12] AnderBiguri commented on #375
So it does not build in 3.10? I heard somewhere that the way setuptools work changed at some point recently, so maybe thats the case.

I assume the Arrow3D has to do with matlplotlib.

In any case, PR #370 changes this demo for something quite nicer, however it needs some work to make it compatible with general TIGRE usage (i.e. not conda, and posibility of running it on a cluster, i.e. change the

[2022-06-23 10:15] harshitAgr commented on #375
I was able to solve it by putting below function in Arrow3D class in the plot_geometry.py.

  def do_3d_projection(self, renderer=None):
        from mpl_toolkits.mplot3d import proj3d
        xs3d, ys3d, zs3d = self._verts3d
        xs, ys, zs = proj3d.proj_transform(xs3d, ys3d, zs3d, self.axes.M)
        self.set_positions((xs[0], ys[0]), (xs[1], ys[1]))

        return np.min(zs)

[2022-06-23 10:34] AnderBiguri commented on #375
@harshitAgr Do you want to make a pull request to add this to the repo?

[2022-06-23 12:56] harshitAgr commented on #375
sure, just sent it PR# [377](https://github.com/CERN/TIGRE/pull/377)

[2022-06-23 12:58] #375 closed

[2022-06-27 11:04] AnderBiguri opened #378 "Have 1 parse inputs"
Most algorithms have the same `parse_inputs()`. I think we should make a unique function, perhaps that takes the algorithm name, and that should output all the inputs.Right now we have tons of redundant `parse_inputs()` code.

[2022-06-28 05:35] daxiaojiupang opened #379 "When the MLEM algorithm is used to reconstruct the noise projection ,the image cannot be reconstructed and is completely black"
## Code to reproduce the problem (If applicable)
geo=defaultGeometry('nVoxel',[128;128;128]);

angles=linspace(0,2*pi,100);
head=headPhantom(geo.nVoxel);

projections=Ax(head,geo,angles,'interpolated')
noise_projections=addCTnoise(projections);

imgMLEM=MLEM(noise_projections,geo,angles,20)

plotImg(imgMLEM,'Dim','Z')

## Specifications

When the MLEM algorithm is used to reconstruct the noise_pro

[2022-06-28 09:02] AnderBiguri commented on #379
MLEM works well, but there are few numerical values that are very large, thus hides the data when visualizing without bounds. If you do

`plotImg(imgMLEM,'Dim','Z','clims',[0 1])`

You will see that the result is good and there. Leave this issue open, as I think we should have better numerical stability for the edge cases, so it may need improving.

[2022-06-28 11:22] daxiaojiupang commented on #379
Thanks a lot, the result is good.

[2022-06-30 01:27] lairdleng opened #380 "Reconstruction using projection from DSA"
## Expected Behavior
I got continuous projections of lung of a sheep from a DSA scanner, how can I reconstructed use FDK in matlab

## Actual Behavior

## Code to reproduce the problem (If applicable)

[code]

## Specifications

  - MATLAB version:2016a
  - OS: win10 64bit
  - CUDA version:10.0

[2022-06-30 14:48] AnderBiguri opened #381 "Add projection binning utility"
a python code would be e.g.:

[code]

Ideally it also gets geometry as input and it modifies it accordingly. MATLAB code also is useful.

[2022-07-01 01:59] lairdleng commented on #380
Thanks, I see it, I'll try.

[2022-07-02 01:06] yidu-bjcancer opened #382 "Bug in detector offset geometry reconstruction in FDK"
## Expected Behavior
Bug in the latest version of FDK for detector offset geometry reconstruction, only in certain geometry (maybe rotation direction? unclear yet)

## Actual Behavior
It seems the detector offset weighting is incorrect.

## Code to reproduce the problem (If applicable)
I think someone modified the FDK.m function, particularly the weighting session, and there is a bug there. When I

[2022-07-02 09:53] AnderBiguri commented on #382
There has been ineed some changes in the weigting, but tests showed better recon with the changes. If you have troubles fixing it, can you post your geometry, so I can compare?

[2022-07-02 14:18] yidu-bjcancer commented on #382
This is the geometry to trigger the bug.
[geo.zip](https://github.com/CERN/TIGRE/files/9033116/geo.zip)

[2022-07-18 13:34] sjmgarnier opened #383 "Convert ASTRA geometry to TIGRE geometry?"
Hello! This is more a question than an issue. Is there a way to convert ASTRA geometries into TIGRE geometries easily? Thanks in advance for your help.

[2022-07-18 13:40] AnderBiguri commented on #383
Hi! there isn't a function to do so (if you find one, please do commit it to TIGRE!), but unless you have a particularly weird geometry, it should be easy to create it or just fill the geometries by hand using ASTRA values.
Give it a shot, I also have a little experience with ASTRA so I may be able to help if you get stuck.

[2022-07-18 13:49] sjmgarnier commented on #383
@AnderBiguri Thanks for your very quick reply! We do have a bit of a weird geometry, that's why I'm looking for something that'll do the work for me :-) Long story short, we're using a "homemade" CT scanner in semi-fieldwork conditions in the tropical forest (you can read about an earlier work of ours here if that is of interest to you: https://arxiv.org/abs/2110.09017). We can't guarantee that th

[2022-07-18 13:56] AnderBiguri commented on #383
@sjmgarnier Oh, that is quite interesting!

Depends on how you obtain this parameters, adding them directly to TIGRE may be fairly easy. Most parameters (except detector/image sizes) can be given per-projection as an array in TIGRE, so given a variable DSD / DSO you can just input it as an array. Similarly, uCT machines tend to have a Axis/center of rotation (COR) error, so as you say, they are po

[2022-07-18 14:01] sjmgarnier commented on #383
@AnderBiguri Thanks, I'll look into that direction. We're using the standard `estimateWorldCameraPose` from Matlab for the calibration.

[2022-07-18 14:04] AnderBiguri commented on #383
@sjmgarnier let me know how it goes. I am trying to get a  vector2tigre (i.e. 3 vectors with location and orientation for detector+image+source) version working, but I am struggling with it lately, so if you need something like that I may either have it coded soon, or could use help!

[2022-07-20 08:57] Enorielle opened #384 "Unexpected half-beam reconstruction result"
Hello,

I'm having issues reconstructing CT data from a half-beam scan.
My question may not be specific to TIGRE so i apologize in advance. I'm rather new to CT in general, and to TIGRE in particular...

Many thanks in advance for your help.

Enorielle

## Expected Behavior
When I reconstruct the data with RTK, here is what I obtain (and what i expect):

![image](https://user-images.githubusercont

[2022-07-20 10:20] AnderBiguri commented on #384
Hi!

Thanks for the issue!

So, you are right in most cases indeed!

TIGRE python is 95% complete and wang weigths is one of the missing pieces.
Unfortunately I am super busy with other things, but if you feel brave enough, adding them should be quite a simple thing:
Take the code from here ([full functions lower in the same file](https://github.com/CERN/TIGRE/blob/fe66cf28e7d62fc66f1c7f870d09bc78

[2022-07-20 13:25] AnderBiguri commented on #384
@Enorielle yes you are right. #362 also shows that, you are correct.
I am a bit confused on why this happens admittedly. It doesn't always happen, so I am not sure. For some algorithms, the V matrix can be the culprit, but CGLS does not have it, so unsure really.

This requires some deep investigation, but unfortunately I don't have the time now for it. worrying nevertheless.

[2022-07-21 09:22] jiangtaochen opened #386 "Big detector offset problem"
Hello!
I have some problem in big detector offset when I use the FDK to reconstruct result .
For circular trajectory CBCT, when the detector is laterally displaced less than half of its lateral size, mathematically the central slice image exactly reconstructed, and images in other slices can be reconstructed accurately enough. So I reproduce this problem in my  code.Here is the geometry :

    geo

[2022-07-21 09:45] AnderBiguri commented on #386
Honestly, I can't remember where the 30% comes from.... But clearly you can see the effect! The original paper does definitely say it has to be less than 50%, but still unsure where 30% comes from. Maybe empirical tests, no idea, my memory is bad.

What the warning message says is that if you have more than 30% offset, try to use projections only in the 0-180 range, don't do full circle. I believe

[2022-07-21 12:15] jiangtaochen commented on #386
YES ,the orignal paper does not say anything about 30%,so I am confused about 30% in you matlab version . And I'd love to contribute to TIGRE, so can you show  me the paper that modify Wang weights, rencently I just have some time to ewsearch this

[2022-07-21 12:44] AnderBiguri commented on #386
Yes you are right, I don't entirely sure where it comes from, but empirically you can see its true.

I have not done a proper research to see which weighting options exists and which ones are worth adding, so I can't really suggest any particular paper. I am afraid that if you want to try new ones you will need to do the literature research yourself, sorry!

But if you want to add your implementat

[2022-07-27 18:12] #247 closed

[2022-08-09 03:12] libra-97 opened #391 "error ：no kernel image is available for execution on the device"
## Expected Behavior

## Actual Behavior

d03_generateData
Error at copying the last set of projections out (or in the previous copy)
Error using  Ax_mex
no kernel image is available for execution on the device

Error Ax (line 71)
projections=Ax_mex(img,geo,angles,ptype, gpuids.devices);

Error d03_generateData (line 37)
projections=Ax(head,geo,angles,'interpolated');

## Code to reproduce the pro

[2022-08-09 03:46] #391 closed

[2022-08-09 03:52] libra-97 commented on #391
thanks. I have solved the problem. It is ready after updating the driver

[2022-08-15 16:59] grupesh commented on #386
Hi @jiangtaochen,
this is interesting, I was looking at offset redundancy weighting about a month ago. Couple of papers did talk about different weighting function than Wang (I can try to find them), but their experiments suggested that changing weighting function had little impact..
Also, for large offsets, using iterative reconstructions with Wang weighting provided better results than FDK (refe

[2022-08-16 08:42] shaghayegh1376 opened #393 "plotting problem"
hello
when i rewrite demos in jupyter notebook , in some demos like number 3/4/7/... , in plotting part , code run without error but for result it just show the blank , but in other demo number 5 it shows the result as image or gif.

i use python 3.8
 anaconda 3
cuda 11.7
nvidia getforce rtx 3050

[2022-08-16 09:13] AnderBiguri commented on #393
Thanks for the issue.
Coudl you please show the code you have in the jupyter notebook?

[2022-08-16 09:17] shaghayegh1376 commented on #393
On Tue, Aug 16, 2022 at 5:13 PM Biguri ***@***.***> wrote:

#!/usr/bin/env python
# coding: utf-8

# In[67]:

#%% DEMO 03: Generate sample data and add realistic CT noise to it.
#
# This demo will show how to generate sample data for image reconstruction

# In[90]:

get_ipython().run_line_magic('matplotlib', 'notebook')
import matplotlib.pyplot as pl
import matplotlib
import tigre
import numpy as

[2022-08-16 09:19] AnderBiguri commented on #393
@shaghayegh1376  please can you shorten this to the minimal example that reproduces the case? Reduce the code as much as possible

[2022-08-16 09:22] shaghayegh1376 commented on #393
yes its the simplest example :

On Tue, Aug 16, 2022 at 5:19 PM Biguri ***@***.***> wrote:

#!/usr/bin/env python
# coding: utf-8

# In[67]:

#%% DEMO 03: Generate sample data and add realistic CT noise to it.
#
# This demo will show how to generate sample data for image reconstruction

# In[90]:

get_ipython().run_line_magic('matplotlib', 'notebook')
import matplotlib.pyplot as pl
import matplotl

[2022-08-16 09:24] AnderBiguri commented on #393
I will have a look, but meanwhile I suggest trying it in a normal python enviroment and not in jupyter if you want the plots.

I myself dont have it installed and its not officially supported, so I will try to test this but can't promise anything.

[2022-08-16 09:29] shaghayegh1376 commented on #393
Thank you for your response
And i will try it with normal python environment

On Tue, Aug 16, 2022 at 17:24 Biguri ***@***.***> wrote:

[2022-08-21 18:48] alphajunkrat opened #397 "Changing parallel beam geometry detector size in Tigre?"
Hi!

I'm trying to use Tigre to recreate the reconstructions I've done with Astra-toolbox.

In parallel beam geometry demo in Tigre toolbox, the description for it is that it does not need anything other than the image size.

However, in Astra-toolbox the pixel sizes are changeable, and I did choose a customed pixel size when using Astra-toolbox, so I'd like to ask if there's any way to tune to pi

[2022-08-22 10:17] AnderBiguri commented on #397
hi @alphajunkrat,

Absolutely, feel free to use the `geo.nVoxel`, `geo.dVoxel` and `geo.sVoxel` parameters, as in cone beam, to change the shape of the image. Similarly with the detector. TIGRE will use the parameters as you request.

[2022-08-22 10:28] AnderBiguri commented on #380
@lairdleng any update on this? need help?

[2022-08-23 01:32] alphajunkrat commented on #397
Thanks @AnderBiguri !

I tried to tune the nDectector, and sVoxel, etc. and wanted to create projections in parallel beam mode. However, I encountered an attribute error as following:

AttributeError: following manditory fields missing from geometry:['DSO', 'DSD']

When using Astra-toolbox, DSO and DSD are not used for parallel3d beam geometry, so in this case is there any advice on how to set DSO

[2022-08-23 08:36] AnderBiguri commented on #397
Yeah, this is something I should change.

Just give geo.DSO the same size as sDetector and geo.DSD double that. Its irrelevant, they are parallel beam, but there is a piece of code that checks the validity of the geometry that requires their existence

[2022-08-23 15:54] alphajunkrat commented on #397
Got it! Thank you!

[2022-08-23 15:54] #397 closed

[2022-08-28 02:12] shaghayegh1376 commented on #393
Dear mr Biguri

I have problem with implementing of tigre toolbox in environment except
jupyter notebook.
How can i write code in other environment for example visual studio code

On Tue, Aug 16, 2022 at 17:29 Shaghayegh Afshari <
***@***.***> wrote:

[2022-08-29 11:27] AnderBiguri commented on #393
@shaghayegh1376  you will need to be more specific. There are tutorials in the installation page for python envoroments, have you looked at that?
what are the problems you are having?

You don't need to "write code" to make TIGRE work in VSC (note that VSC is not an "enviroment").

[2022-08-31 09:17] shaghayegh1376 commented on #393
Dear Mr. Biguri
as you said before to use originally python environment instead of anaconda
( jupyter notebook and spyder)
I followed the step as it said in the tigre installment and ran steps in
cmd and it installed successfully.
but when i run demo 3 , it would be the result :
[image: image.png]

On Mon, Aug 29, 2022 at 7:27 PM Biguri ***@***.***> wrote:

[2022-08-31 09:35] AnderBiguri commented on #393
@shaghayegh1376  I can't see the image, please post it in the github issue.

[2022-08-31 10:03] shaghayegh1376 commented on #393
![image](https://user-images.githubusercontent.com/101172743/187653483-6476d9c0-c39d-4bfd-982e-9a348d64adc0.png)
![unnamed](https://user-images.githubusercontent.com/101172743/187653607-9f8500a9-d50d-4829-9304-a30532b74301.png)

[2022-08-31 10:07] AnderBiguri commented on #393
@shaghayegh1376  please next time share text as text, not as an image, it is quite unhelpful as an image!

I would suggest trying an older version of python, perhaps 3.7 or so. I had similar issues in the past with 3.9, but I thought we solved this (are you running a recent version of TIGRE??). If you try python 3.7 and it works, let me know.

[2022-08-31 10:09] shaghayegh1376 commented on #393
it was with python 3.10 , let me check the 3.7 version

[2022-08-31 10:25] shaghayegh1376 commented on #393
Traceback (most recent call last):
  File "C:/Users/shaghayegh/Desktop/test.py", line 1, in <module>
    import tigre
ModuleNotFoundError: No module named 'tigre'

this was the result with python 3.7

[2022-08-31 10:28] AnderBiguri commented on #393
Thats just that you installed it wrong in python 3.7.

[2022-08-31 11:16] AnderBiguri commented on #380
Closing due to inactivity, feel free to reopen it.

[2022-09-01 09:20] AnderBiguri commented on #393
Sorry, you will need to be more specific. Unfortunately as it currently
stands I have no information to help you, I only know it doesn't work for
you.

On Thu, 1 Sept 2022, 07:13 shaghayegh1376, ***@***.***> wrote:

[2022-09-02 02:45] shaghayegh1376 commented on #393
ok, another question is that: can we replace
this function:
tigre.plotimg(np.concatenate([imgFDK, imgOSSART], axis=1), dim="z")
with other library like plt.show() or .imshow() and how
i mean , what alternative to tigre.plotting can i use to display the result.

[2022-09-02 08:28] AnderBiguri commented on #393
Absolutely.
As you can see, Tigre uses np.arrays to store the data. Therefore you can
use any plotting technique to plot np.arrays. In fact that is what
tigre.plotimg does, just uses plt.imshow in a nice way. You are more than
welcome to use your own functions!

Ander

On Fri, 2 Sept 2022, 03:45 shaghayegh1376, ***@***.***> wrote:

[2022-09-05 14:36] pjueon opened #399 "Crash when trying forward projection with flipped head phantom"
I'm trying to run `Python/demos/d03_generateData.py` with the head phantom that is flipped upside down.
If I run the original demo code, it works.
But if I add this one line before the forward projection, the program crashes.
[code]

I'm not sure but it might be an exception handling issue  between python and Cuda C++.

Or am I missing something?

## Expected Behavior
The program doesn't crash.

#

[2022-09-05 15:51] AnderBiguri commented on #399
I wonder if this has to do with `np.flip()` returning a _view_ and not a _copy_.

Try to do

`head = np.flip(head, axis=0).copy() # flip the phantom data upside down
`

[2022-09-06 00:29] pjueon commented on #399
@AnderBiguri
Thanks! That does work.

One more thing:

I also tried this one
[code]
and it didn't work. Maybe flipped view causes crash(could be a bug)?

[2022-09-06 00:54] pjueon commented on #399
Here, casting `img.data` to C++ pointer might be the problem. I'm not familiar with numpy implementation but probably the numpy view's `data` is not flipped and not pointing the position we desire.

https://github.com/CERN/TIGRE/blob/54a854bec2bc5ebf4184c700d6298b31f00c1ec3/Python/tigre/utilities/cuda_interface/_Ax.pyx#L73-L83

[2022-09-06 01:46] pjueon commented on #399
Ok after googling about the memory order of numpy, I think I can fix this. I`ll make a PR when I get home.

[2022-09-06 04:21] pjueon commented on #393
This importing error is already fixed by #387
Judging by the line number in the error message, this fix is not applied to the version you're using. Try with the latest version of TIGRE. It should work on python 3.10.

[2022-09-06 11:15] AnderBiguri commented on #399
@pjueon yes, it makes sense that it only works when the np.array is in the C order In your second case, you make ac opy, but what `np.flip` returns is still flipped in indices, but not in memory, while in my case, the copy enforces the indices+memory map to be "the right way".

I am not sure what the solution is, other than telling the users to make the copy. I don't want to enforce copies, becaus

[2022-09-06 13:25] pjueon commented on #399
I've just created the PR for this.  (#400)
The trick is using `numpy.ascontiguousarray` or checking `numpy.ndarray.flags['C_CONTIGUOUS']`.

[2022-09-15 08:12] shaghayegh1376 opened #401 "cpu reconstruction"
hello is there any way(code) to implement these algorithm on cpu for comparing the result with gpu ?
because these demos are gpu based

[2022-09-21 09:41] AnderBiguri commented on #401
Hi @shaghayegh1376 there is a "way", but TIGRE does not have it. You'd need to rewrite the forward and backprojection operators, or substitute it for some other from another library. Careful when doing this, in 3D this gets very, _very_, **very** slow quite quickly.

This is why TIGRE only supports GPUs.

[2022-09-21 09:41] #401 closed

[2022-09-21 09:42] AnderBiguri opened #402 "Make `computeW`"
SART and SART_TV have a different W computation.

Code is quite repeated, so a new fuunction computeW should be added that all SART-like algorithm use.